{% set type = 'comment' %}

<div id="form-ctr" class="well form" style="display: none;">
    <h3><span class="fa fa-reply"></span> <span id="form-label-question-type" class="label"></span></h3>

    <form id="create-answer-comment" class="post-form" role="form" action="/crisis/{{ crisis.id }}/question/{{ question.id }}/answer/{{ answer.id }}/comments" method="POST" enctype="multipart/form-data">

        {% include '../post/comment_form.html' %}
    
        <button id="submit" type="submit" class="btn btn-primary">Submit Comment</button>
        <input type="reset" id="form-cancel" class="btn btn-default pull-right" value="Cancel">
    </form>
</div>

