<div id="form-ctr" class="well" style="display: none;">
    <h3><span class="fa fa-reply"></span> <span id="form-label-question-type" class="label"></span></h3>

    <form id="create-evidence" role="form" action="{{ question.id }}/answers" method="POST">
        <!-- <input type="hidden" name="_method" value="POST"> -->
        <input type="hidden" id="form-question-type" name="type">
        {% include '../form-title.html' %}
        
        {% include '../form-image.html' %}
        
        {% include '../form-text.html' %}
    
        <button type="submit" class="btn btn-primary">Submit Evidence</button>
        <button type="button" id="form-cancel" class="btn btn-default pull-right">Cancel</button>
    </form>
</div>

<script type="text/javascript">
document.getElementById('form-cancel').addEventListener('click', function(e) {
    document.getElementById('form-ctr').style.display = 'none';
});
</script>