<div id="form-ctr" class="well form" style="display: none;">
    <h3><span class="fa fa-reply"></span> <span id="form-label-question-type" class="label"></span></h3>

    <form id="create-evidence" role="form" action="{{ question.id }}/answers" method="POST" enctype="multipart/form-data">
        <!-- <input type="hidden" name="_method" value="POST"> -->
        <input type="hidden" id="form-question-type" name="type">
        {% include '../form-title.html' %}
        
        {% include '../form-image.html' %}
        
        {% include '../form-text.html' %}
        
        {% include '../form-locality.html' %}
        
        {% include '../form-latlong.html' %}
        
        {% include '../form-tags.html' %}
    
        <button type="submit" class="btn btn-primary">Submit Evidence</button>
        <input type="reset" id="form-cancel" class="btn btn-default pull-right" value="Cancel">
    </form>
</div>

<script type="text/javascript">
document.getElementById('form-cancel').addEventListener('click', function(e) {
    document.getElementById('form-ctr').style.display = 'none';
});

// Same-as behaviour to duplicate fields from question.
document.getElementById('btn-same-locality').addEventListener('click', function(e) {
    document.getElementById('form-locality').value = document.getElementById('question-locality').innerHTML;
});

document.getElementById('btn-same-latlong').addEventListener('click', function(e) {
    document.getElementById('form-target-lat').value = document.getElementById('question-target-lat').innerHTML;
    document.getElementById('form-target-long').value = document.getElementById('question-target-long').innerHTML;
});

</script>