{% set type = 'evidence' %}

<div id="form-ctr" class="well form" style="display: none;">
    <h3><span class="fa fa-reply"></span> {{ question.post.title }}<span id="form-label-question-type" class="label"></span></h3>

    <form id="create-evidence" class="post-form" role="form" action="/crisis/{{ crisis.id }}/question/{{ question.id }}/answers" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{csrf_token}}" />
        <!-- <input type="hidden" name="_method" value="POST"> -->
        <input type="hidden" id="form-question-type" name="type">

        {% include '../post/evidence_form.html' %}
    
        <button id="submit" type="submit" class="btn btn-primary">Submit Evidence</button>
        <input type="reset" id="form-cancel" class="btn btn-default pull-right" value="Cancel">
    </form>
</div>

<script type="text/javascript">
document.getElementById('form-cancel').addEventListener('click', function(e) {
    document.getElementById('form-ctr').style.display = 'none';
});

</script>