<div class="panel panel-default question-answer">
    <div class="panel-heading">
            <h3 class="panel-title">
                    {% if answer.type === 'support' %}
                        <span class="label label-success">Support</span>
                    {% else %}
                        <span class="label label-danger">Reject</span>
                    {% endif %}
                    {{ answer.title }}</h3>
    </div>
    <div class="panel-body">

        
    {{ answer.text }}


    <!-- vote row -->
    <div class="row">
        
    <!-- button-vote-up -->
    <div class="mini action-button-ctr btn-group">
        <button class="btn btn-default btn-large mini-action-button" title="Upvote"><i class="fa fa-arrow-up"></i></button>
        <a href="#" class="btn btn-default action-button-count">9</a>
    </div>
    <!-- / button-vote-up -->
        

    
    <!-- button-vote-down -->
    <div class="mini action-button-ctr btn-group">
        <button class="btn btn-default btn-large mini-action-button" title="Downvote"><i class="fa fa-arrow-down"></i></button>
        <a href="#" class="btn btn-default action-button-count">999</a>
    </div>
    <!-- / button-vote-down -->
    
    <!-- button-comment -->
    <div class="mini action-button-ctr btn-group">
        <button class="btn btn-default btn-large mini-action-button" title="Comment"><i class="fa fa-comment"></i></button>
        <a href="#" class="btn btn-default action-button-count">9999</a>
    </div>
    <!-- / button-comment -->
    
    
    </div>
    <!-- / vote row -->
        
    </div>
</div>


