{% include '../generic/form-title.html' %}

{% include '../generic/form-image.html' %}

{% include '../generic/form-text.html' %}

{% include '../generic/form-date-occurred.html' %}

{% include '../generic/form-locality.html' %}

{% include '../generic/form-latlong.html' %}

{% include '../generic/form-tags.html' %}

<script type="text/javascript">
// On form submit, validate fields on client side.
document.addEventListener('DOMContentLoaded', function(event) {
    var defaultFormGroupClassName = 'form-group';
    var form = document.forms[0];
    var submitButton = document.getElementById('submit');
    
    var formTitle = document.getElementById('form-title');

    
    var validate = function(elems, elemsParent, validator) {
        // Closure
        return function() {
            var error;
            var elemsIsArray = false;
                    
            // elems may be an array of elements or just one element.
            if (elems instanceof Array) {
                elemsIsArray = true;
                // If elemsParent not passed in.
                if (!elemsParent) {
                    elemsParent = elems[0].parentNode;
                }
            } else {
                // If elemsParent not passed in.
                if (!elemsParent) {
                    elemsParent = elems.parentNode;
                }
            }
        
            var label;
            label = elemsParent.getElementsByTagName('label')[0];
        
            // Set the initial value to the innerHTML of the label,
            // if it hasn't been set yet.
            if (!label.dataset.hasOwnProperty('initial')) {
                label.dataset.initial = label.innerHTML;
            }
        
            var icon = elemsParent.getElementsByClassName('icon')[0];
        
            // Reset form-group elements in the case of errors in multiple requests.
            if (label.innerHTML !== label.dataset.initial) {
                label.innerHTML = label.dataset.initial;
                elemsParent.className = defaultFormGroupClassName;
                if (icon) {
                    elemsParent.removeChild(icon);
                }   
            }
        
            // Call the element-specific validator.
            error = validator(elems, elemsParent, elemsIsArray);
        
            // Handle the errors.
            if (error) {
                // Invalid (errors present)
            
                elemsParent.className = defaultFormGroupClassName + ' has-error has-feedback';
            
                // Add the error message.
                label.innerHTML = label.dataset.initial + ' &ndash; ' + error;
            
                // Add the icon.
                if (!icon) {
                    icon = document.createElement('span');
                    icon.className = 'icon fa fa-times form-control-feedback with-input-lg';
                }
                if (!elemsIsArray) {
                    // Only add icon if elems is one element.
                    elemsParent.insertBefore(icon, elems.nextSibling);
                }
                
                return false;
            } else {
                // Valid   
                return true;
            }
        
        }
        // / return function
        
        
    };
    

    // maxTitleLength defined in generic/title-chars-left.html
    // @return boolean: true for valid
    var validateFormTitle = function(elems, elemsParent, elemsIsArray) {
        var error = null;
        
        if (elems.value.length === 0) {
            error = 'need one!'
        } else if (elems.value.length > maxTitleLength) {
            error = 'too long!'
        }
        
        return error;
    };
    
    var validateFunctions = [
        validate(formTitle, null, validateFormTitle)
    ]

    function validateAll(e) {
        var valid = true;
        
        // stop acts as `break` but continues validation to
        // show all errors to the user.
        var stop = false;
        
        for (var i = 0; i < validateFunctions.length; i++) {
            if (!validateFunctions[i]() && !stop) {
                // Validation for this field returned errors
                // and we have not found a previous error
                // -- we have not stopped setting the valid variable yet.
                valid = false;
                stop = true;
            };
            
        }
        
        
        if (valid) {
            // Valid, submit form to endpoint
            return;
        } else {
            // Not valid, don't submit form.
            e.preventDefault();
        }
    }

    form.addEventListener('submit', function(e) {
        validateAll(e);
    });
    
    document.getElementById('form-title').addEventListener('keyup', function(e) {
        validate(formTitle, null, validateFormTitle)();
    });
});
</script>