<div class="form-group">
    <label for="form-image-upload">Image</label>
    <div class="row">
        <div class="col-sm-4">
            <!-- .col-sm-12 is necessary to style file input -->
            <input type="file" accept="image/*" id="form-image-upload" name="image-upload" class="btn btn-default col-sm-12">
        </div>
        <div class="col-sm-1">
            <p class="form-control plain">&ndash;or&ndash;</p>
        </div>
        <div class="col-sm-7">
            <span class="sr-only">URL of image</span>
            <input type="text" class="form-control" id="form-image-url" name="image-url" placeholder="URL of image">
        </div>
    </div>
     

</div>