<!DOCTYPE html>
<html lang="en">
{% set challengeActive = null|challengeActive %}
{% set challengePublished = null|challengePublished %}
{% set isProduction = null|isProduction %}
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} &middot; {% endif %}Verily</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% set title = "Verily" %}
		{% set imageurl = "https://efe8ea3fb0a1c1b.s3.amazonaws.com/images/verily-v-logo.png" %}
		{% set description = "We live in the Information Age... or the Disinformation Age. Finding out the truth in the vast amount of contradictory information is becoming increasingly difficult for everyone. Join the Verily Challenge to search for the truth." %}
		{% if crisis %}
			{% set title = crisis.post.title %}
			{% set imageurl = crisis.post.targetImage || imageurl %}
		{% endif %}
		{% if question %}
			{% set title = question.post.title %}
			{% set imageurl = question.post.targetImage || imageurl %}
		{% endif %}
		{% if answer %}
			{% set title = answer.post.title %}
			{% set imageurl = answer.post.targetImage || imageurl %}
			{% set description = answer.post.text || description %}
		{% endif %}
		{% if r1 %}
			{% set title = "1" %}
			{% set imageurl = answer.post.targetImage || imageurl %}
			{% set description = answer.post.text || description %}
		{% endif %}
		<!-- FB open graph tags -->
		<meta property="og:site_name" content="Verily"/>
		<meta property="og:url" content="https://veri.ly{{ path }}" /> 
		<meta property="og:image" content="{{ imageurl }}"/>
		<meta property="og:title" content="{{ title }}"/>
		<meta property="og:description" content="{{ description }}"/>

        
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!-- TODO Use bower and modify Bootstrap to our needs -->
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        <link href="//fonts.googleapis.com/css?family=Abril+Fatface|Cinzel+Decorative:900|Oxygen:300,400,700" rel="stylesheet" type="text/css">
        
        <link rel="shortcut icon" href="/static/images/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="/static/images/favicon.png" >
        
        <link href="/static/css/style.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <![endif]-->
        
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <!-- lazy loading of images -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>

        <!-- Jquery Datatable -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

        <!-- Common JS -->
        <script type="text/javascript" src="/static/js/common.js"></script>

        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


        <!-- Load general functions JS -->
        <script type="text/javascript" src="/static/js/load.js"></script>

        {% if isProduction %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52527080-1', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            var sc_project=9897798;
            var sc_invisible=1;
            var sc_security="741aa466";
            var scJsHost = (("https:" == document.location.protocol) ?
                    "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +
                    scJsHost+
                    "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        {% endif %}
    </head>
    <body class="{% if path === '/' %} hero-cover{% endif %}">
        {% if userIs('provisional user') %}
        <!-- provisional user confirm login modal -->
        <div class="modal fade" id="provisionalUserConfirmLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to withdraw from <strong>{{ user.name }}</strong>?</h4>
              </div>
              <div class="modal-body">
                  Submissions made under your provisional username, <strong>{{ user.name }}</strong>, will be lost if you log in now. To transfer your content, <a href="/register/">sign up</a>.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="/login?via=/logout" type="button" class="btn btn-danger">Withdraw and log in</a>
              </div>
            </div>
          </div>
        </div>
        <!-- / provisional user confirm login modal -->
        {% endif %}
        
        <div id="login-register" class="modal auth-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
						<div class="login-aside-button text-center">
							<a href="/auth/facebook" class="btn btn-default btn-lg facebook-button"><i class="fa fa-facebook"></i> Login with Facebook</a>
						</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="lead">
                                    Login
                                </p>
                                
                                {% include 'generic/form-login.html' %}
                                
                            </div>
                            <div class="col-sm-6">
                                <p class="lead">
                                    Signup
                                </p>
                                
                                {% include 'generic/form-signup.html' %}
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert-window" style="display:none; position:fixed;" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="alert-title"></h4>
            <span class="alert-message"></span>
        </div>
        <a href="#content" class="sr-only">Skip to main content</a>

        {% block navigation %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    


                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vly-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand active logo {% if path === '/' %}welcome{% endif %}" href="/" title="Home">
                        <span class="first-char">V</span>erily
                    </a>
                    
                    <ul class="nav navbar-nav user-nav pull-right">
                        <li>
                            <a href="/user" class="username" {% if userIs('provisional user') %}title="provisional username"{% endif %}>
                                {% if userIs('provisional user') %}
                                <i class="fa fa-ticket"></i>
                                {% endif %}
                                {{ user.name or user }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="vly-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        {% if challengePublished or (path !== '/' and path !== '/about') %}
                            <li><a href="/crisis/16">Crisis</a></li>
                        {% endif %}
                    
                        {% if userCan('create a crisis') %}
                            <li><a href="/crisis/create"><span class="fa fa-plus"></span>&nbsp;<span class="sr-only">Add</span>Crisis</a></li>
                        {% endif %}
                        {% if crisis and (userCan('create a question') or userCan('create multiple questions') or userCan('export questions')) %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questions <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    {% if userCan('create a question') %}
                                        <li><a href="/crisis/{{ crisis.id }}/question/create"><span class="fa fa-plus"></span>&nbsp;<span class="sr-only">Add</span>Add</a></li>
                                    {% endif %}
                                    {% if userCan('create multiple questions') %}
                                        <li><a href="/crisis/{{ crisis.id }}/questions/create"><span class="fa fa-plus-square"></span>&nbsp;<span class="sr-only">Add</span>Bulk</a></li>
                                    {% endif %}
                                    {% if userCan('export questions') %}
                                        <li><a href="/crisis/{{ crisis.id }}/questions/export"><span class="fa fa-hdd-o"></span>&nbsp;<span class="sr-only">Exports</span>Exports</a></li>
                                    {% endif %}
                                </ul>
                                                                
                            </li>
                        {% endif %}
                        
						{% if challengePublished or (path !== '/' and path !== '/about')%}
							<li>
								{#<form action="/search" method="POST" class="navbar-form nav-search">
								<input type="hidden" name="_csrf" value="{{csrf_token}}" />
                                    <div class="input-group">
                                        <input type="search" class="form-control" name="search" id="search" data-placeholder="Search Questions">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
								</form>#}
							</li>
                            <script>
                            
                            $('#search').focus(function(e) {
                                var headerWidth = $('.navbar-header').css('width');
                                var searchBoxWidth = $('.nav-search .input-group').css('width');
                                
                                $('#search').attr('placeholder', $('#search').data('placeholder'));
                                $('.nav-search button').toggleClass('focused');
                                if (headerWidth !== searchBoxWidth) {
                                    // search box is not full viewport width,
                                    // so not on mobile or xs devices.
                                    $('.nav-search .input-group').width('20vw');
                                }

                            });
                            $('#search').blur(function(e) {
                                $('#search').attr('placeholder', '');
                                $('.nav-search button').toggleClass('focused');
                                if (!e.relatedTarget || e.relatedTarget.nodeName != 'BUTTON') {
                                    $('.nav-search .input-group').removeAttr('style');
                                }
                            });
                            </script>
						{% endif %}

                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="/help" >Help</a></li>
                        <li><a href="/about">About</a></li>
                        {% if user %}


                            {% if userIs('provisional user') %}
                            <li>
                                <a href="/register">
                                    Signup
                                </a>
                            </li>
                            <li><a href="/login">Login</a></li>
                            {% endif %}
							{% if userCan('assign roles') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/roles"><span class="fa fa-users"></span>&nbsp;<span class="sr-only">Assign roles</span> Assign roles</a></li>
                                        <li><a href="/adminAnswers"><span class="fa fa-minus-circle"></span>&nbsp;<span class="sr-only">Hide by Evidence</span>Hide evidence</a></li>
                                        <li><a href="/hideQuestions"><span class="fa fa-minus-circle"></span>&nbsp;<span class="sr-only">Hide Questions</span>Hide questions</a></li>
                                        <li><a href="/banUser"><span class="fa fa-ban"></span>&nbsp;<span class="sr-only">Control Users</span>Control users</a></li>
                                    </ul>
                                </li>
							{% endif %}
                            {% if !userIs('provisional user') %}
                            <li><a href="/logout">Logout </a></li>
                            {% endif %}
                        {% elseif challengePublished or (path !== '/' and path !== '/about') %}
                            <li><a href="/register">Signup</a></li>
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>

                </div>
				
				

            </div>
			
			

        </nav>
        {% endblock navigation %}
        
        {% if (info and info.length > 0) or (error and error.length > 0) %}
        <div class="flash-msgs-ctr">
		
    		<div class="container flash-msg-ctr">
    				{% if info and info.length > 0 %}
    				<div class="alert alert-info">
    					<a class="close" data-dismiss="alert">×</a>
    					{{ info | raw }}
    				</div>
    				{% endif %}
    			</div>
    		</div>
		
    		<div class="container flash-msg-ctr">
    				{% if error and error.length > 0 %}
    				<div class="alert alert-danger">
    					<a class="close" data-dismiss="alert">×</a>
    					{{ error }}
    				</div>
    				{% endif %}
    			</div>
    		</div>
        
        </div>
        {% endif %}

        {% block main %}
		
            <main role="main" id="content" class="container{% if (path.indexOf('/crisis') === 0) %} full-width{% endif %}">
                <!-- <ol class="breadcrumb"> -->
                    <!-- <li>
                        <a href="/" title="Home">Home</a>
                    </li> -->
                    <!-- {% block breadcrumb %}{% endblock %} -->
                <!-- </ol> -->
                {% block content %}{% endblock %}
            </main>
        {% endblock %}
        <footer>
            <div class="container">
                {% if path === '/' %}
                <div class="pull-right text-right about-hero-cover hidden-xxs">
                    <!-- Is cloud obscuring the Oriental Pearl Tower in Shanghai? -->
                </div>
                {% endif %}
                <div class="pull-left">
                    <div class="text-muted">
                        <a href="/about#copyright">&copy; 2014 Verily.</a> Users' content <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>
                    </div>
                    <div class="text-muted">
                        <a href="/about">About</a>
                        &middot;
                        <a href="/terms">Terms &amp; Privacy</a>
        				&middot;
                        <a href="/help">Contact</a>
                    </div>
                </div>
                {% if '/crisis/16' == path %}
                <div class="pull-right">
                <a href="http://blog.standbytaskforce.com/"><img src="https://standbytaskforce.files.wordpress.com/2015/02/cropped-sbtfblogheader21.png" height="70"></a>
                </div>
                {% endif %}
            </div>
        </footer>
    </body>
</html>

        
        
        
