<!DOCTYPE html>
<html lang="en">
{% set challengeActive = null|challengeActive %}
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} &middot; {% endif %}Verily</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- FB open graph tags -->
		<meta property="og:site_name" content="Verily"/>
		<meta property="og:url" content="http://veri.ly" /> 
		<meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/efe8ea3fb0a1c1b/images/verily_banner1200x1200.png"/>
		<meta property="og:title" content="Verily Challenge"/>
		<meta property="og:description" content="Finding out the truth in the vast amount of contradictory information is becoming increasingly difficult.
												We want to enable humanitarian organisations to send resources where needed in response to natural disasters, 
												where accurate and timely information is critical."/>

        
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!-- TODO Use bower and modify Bootstrap to our needs -->
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        <link href="http://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel+Decorative:900" rel="stylesheet" type="text/css">
        
        <link rel="shortcut icon" href="/static/images/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="/static/images/favicon.png" >
        
        <link href="/static/css/style.css" rel="stylesheet">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <![endif]-->
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        
        <!-- Common JS -->
        <script type="text/javascript" src="/static/js/common.js"></script>
        
        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- Load general functions JS -->
        <script type="text/javascript" src="/static/js/load.js"></script>

        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
            var sc_project=9897798;
            var sc_invisible=1;
            var sc_security="741aa466";
            var scJsHost = (("https:" == document.location.protocol) ?
                    "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +
                    scJsHost+
                    "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="web analytics"
                                              href="http://statcounter.com/" target="_blank"><img
                            class="statcounter"
                            src="http://c.statcounter.com/9897798/0/741aa466/1/"
                            alt="web analytics"></a></div></noscript>
        <!-- End of StatCounter Code for Default Guide -->
        <!-- Start of GoogleAnalytics Code -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52527080-1', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');

        </script>
        <!-- End of GoogleAnalytics Code -->
    </head>
    <body class="{% if path === '/' %} hero-cover{% endif %}">
        <div id="login-register" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="lead">
                                    Login
                                </p>
                                
                                {% include 'generic/form-login.html' %}
                                
								<div class="login-aside-button text-right centre-when-viewport-narrowed">
									<a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> Login with Facebook</a>
								</div>
                            </div>
                            <div class="col-sm-6">
                                <p class="lead">
                                    Signup
                                </p>
                                
                                {% include 'generic/form-signup.html' %}
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert-window" style="display:none; position:fixed;" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="alert-title"></h4>
            <span class="alert-message"></span>
        </div>
        <a href="#content" class="sr-only">Skip to main content</a>

        {% block navigation %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    {% if challengeActive %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vly-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% endif %}
                    <a class="navbar-brand active logo {% if path === '/' %}welcome{% endif %}" href="/" title="Home">
                        <span class="first-char">V</span>erily
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="vly-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        {% if challengeActive or (path !== '/' and path !== '/about') %}
                            <li><a href="/crisis/1">#VerilyLive</a></li>
                        {% endif %}
                    
                        {% if userCan('create a crisis') %}
                            <li><a href="/crisis/create"><span class="fa fa-plus"></span>&nbsp;<span class="sr-only">Add</span>Crisis</a></li>
                        {% endif %}
                    	{% if crisis %}
                            {% if userCan('create a question') %}
                                <li><a href="/crisis/{{ crisis.id }}/question/create"><span class="fa fa-plus"></span>&nbsp;<span class="sr-only">Add</span>Question</a></li>
                            {% endif %}
                        {% endif %}

                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if user %}
                            <li><a href="/user">{{user.name}}</a></li>
                            <li><a href="/logout">Logout</a></li>
							{% if userCan('assign roles') %}
								<li><a href="/roles">Assign Roles</a></li>
								<li><a href="/adminAnswers">All Answers</a></li>
							{% endif %}
                        {% elseif challengeActive or (path !== '/' and path !== '/about') %}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Signup</a></li>
                        {% endif %}
                    </ul>

                </div>
				
				

            </div>
			
			

        </nav>
        {% endblock navigation %}
        
        {% if info or error %}
        <div class="flash-msgs-ctr">
		
    		<div class="container flash-msg-ctr">
    				{% if info and info.length > 0 %}
    				<div class="alert alert-info">
    					<a class="close" data-dismiss="alert">×</a>
    					{{ info }}
    				</div>
    				{% endif %}
    			</div>
    		</div>
		
    		<div class="container flash-msg-ctr">
    				{% if error and error.length > 0 %}
    				<div class="alert alert-danger">
    					<a class="close" data-dismiss="alert">×</a>
    					{{ error }}
    				</div>
    				{% endif %}
    			</div>
    		</div>
        
        </div>
        {% endif %}

        {% block main %}
		
            <main role="main" id="content" class="container">
                <!-- <ol class="breadcrumb"> -->
                    <!-- <li>
                        <a href="/" title="Home">Home</a>
                    </li> -->
                    <!-- {% block breadcrumb %}{% endblock %} -->
                <!-- </ol> -->
                {% block content %}{% endblock %}
                <footer>
                    {% if path === '/' %}
                    <div class="pull-right text-right about-hero-cover hidden-xxs">
                        Is cloud obscuring the Oriental Pearl Tower in Shanghai?
                    </div>
                    {% endif %}
                    <div class="pull-left">
                        <div class="text-muted">
                            <a href="/copyright">&copy; 2014 Verily.</a>
                        </div>
                        <div class="text-muted">
                            <a href="/about">About</a>
                            &middot;
                            <a href="/terms">Terms & Conditions</a>
                        </div>
                    </div>

                    
                    
                </footer>
            </main>
        {% endblock %}
    </body>
</html>

        
        
        