{% set type = 'user' %}
{% import '../macros/_answers.html' as answers_macro %}
{% import '../macros/_generic.html' as generic_macro %}

{% extends '../layout.html' %}

{% block content %}

<script type="text/javascript">
	function getShown() {
		var shownStr = document.getElementById('shownAnswers');
		shownStr.value = '';
		var checkboxes = document.getElementsByName('hiddenAnswers');
		for (var i = 0; i < checkboxes.length; i++) {
			if (!checkboxes[i].checked) {
				shownStr.value = shownStr.value == '' ? checkboxes[i].value : shownStr.value + '|' + checkboxes[i].value;
			}
		}
	}
</script>

<form action="/adminAnswers" method="POST" onsubmit="getShown();">
    <input type="hidden" name="_csrf" value="{{csrf_token}}" />
	<input type="hidden" name="shownAnswers" id="shownAnswers">

	<div class="row question-answers">
        {{ answers_macro.answers_embeded(answers, 1, true) }}
	</div>
	
	<button class="btn btn-primary btn-large" type="submit">Submit</button>
	
	</div>
	
</form>
{% endblock %}