{% set type = 'user' %}

{% extends '../layout.html' %}

{% block content %}

<div id="form-reg" class="form">
    <p class="lead">
        Forgotten Password
    </p>
    
	<form id="forgot" role="form" action="/forgot" method="POST">

		<div class="alert alert-danger" id="forgot-error" style="display: {% if !error or error.length === 0 %}none;{% else %}block{% endif %}">
            {{ error }}
        </div>
		
		<div class="alert alert-success" id="forgot-info" style="display: {% if !info or info.length === 0 %}none;{% else %}block{% endif %}">
            {{ info }}
        </div>

	<div class="form-group">
        <input type="text" class="form-control input-lg" id="form-email" name="email" placeholder="Email">
    </div>

    <button type="submit" class="btn btn-primary">Get a new Password</button>
</form>

</div>

{% endblock %}