{% set type = 'user' %}

{% extends '../layout.html' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2>{{user.name}}</h2>
			<p class="lead">You have <span class="label label-success">{{points}} Points!</span></p>
		</div>
	</div>

	<div class="row marketing">
		<div class="col-lg-6">
			<h4>Number of posts</h4>
			<p>{{ posts }}</p>

			<h4>Number of upvotes</h4>
			<p> {{ upvotes }} </p>

			<h4>Number of downvotes</h4>
			<p>{{ downvotes }}</p>
		</div>

		<div class="col-lg-6">
			<h3>Awarded Points</h3>
			<h4>Sign up</h4>
			<p>10 points</p>

			<h4>Sign up through a referral (both the invitee and the referrer)</h4>
			<p>20 points</p>

			<h4>For every upvote</h4>
			<p>10 points</p>
			
			<h4>For every evidence submitted</h4>
			<p>20 points</p>
		</div>
	</div>
</div>
{% endblock %}