{% set type = 'user' %}

{% extends '../layout.html' %}

{% block content %}

<div class="signup-form">

    <div class="row">
    	<div class="col-md-3">
    		<a href="/auth/facebook" class="btn btn-default btn-lg facebook-button"><i class="fa fa-facebook"></i> Signup with Facebook</a>
    	</div>

	
    	<div class="col-md-3">
    		<a href="/auth/twitter" class="btn btn-default btn-lg twitter-button"><i class="fa fa-twitter"></i> Signup with Twitter</a>
    	</div>
    	<div class="col-md-1"><br></div>
    </div>
    <br>
    <div id="form-reg" class="form">
        <p class="lead">
            Signup with email to know when humanitarian organizations need help
        </p>
        {% include '../generic/form-signup.html' %}

    </div>

</div>

{% endblock %}