{% set type = 'question' %}

{% extends '../layout.html' %}

{% block content %}
{% if error %}
    <script>
        $(function(){
            show_alert_message('danger', 5000, "Error", {{ error }});
        })
    </script>
{% endif %}
<div id="form-ctr" class="form">
    <h3><span class="fa fa-plus"></span><span class="sr-only">Add</span>&nbsp;Multiple Questions on "{{ crisis.post.title }}"</h3>

    <form id="create-question-bash" class="post-form" role="form" action="/crisis/{{ crisis.id }}/questions/create" method="POST" enctype="multipart/form-data">
        <!-- <input type="hidden" name="_method" value="POST"> -->
        <input type="hidden" id="form-question-type" name="type">
        <label for="questions-file-url">Url to File</label>
        <input id="questions-file-url" type="text" class="form-control"
               placeholder="Full URL to JSON file (example on questions-data.json)"
               name="file" />
    <br/>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="../" class="btn btn-default pull-right">Cancel</a>
    </form>
</div>
{% endblock %}