{% set type = 'question' %}

{% extends '../layout.html' %}

{% block content %}

<div id="form-ctr" class="form">
    <h3><span class="fa fa-plus"></span><span class="sr-only">Add</span>&nbsp;Question</h3>

    <form id="create-question" class="post-form" role="form" action="/crisis/{{ crisis.id }}/question" method="POST" enctype="multipart/form-data">
        <!-- <input type="hidden" name="_method" value="POST"> -->
        <input type="hidden" id="form-question-type" name="type">

        {% include '../post/form.html' %}
    
        <button id="submit" type="submit" class="btn btn-primary">Submit Question</button>
        <a href="../" class="btn btn-default pull-right">Cancel</a>
    </form>
</div>

{% endblock %}