{% extends '../layout.html' %}

{% block content %}
    <div class="row">
        <h2>Questions</h2>
    </div>

<div class="row">
    <div class="pull-right">
        <label for="select_filter_questions">View questions:</label>
        <select id="select_filter_questions">
            <option>Active (most active first)</option>
            <option>Active (most recent first)</option>
        </select>
    </div>
</div>

<div class="row question-answers">
    {% for question in questions | reverse %}
        <div class="col-sm-4" style="max-height:350px">
            {% include 'questionWithinCrisis.html' with question %}
        </div>   
    {% endfor %}
</div>



<script src="/static/js/openlayers/OpenLayers-https.js"></script>
<script type="text/javascript">
var map, layer;
function init(){
    map = new OpenLayers.Map('map');
    layer = new OpenLayers.Layer.OSM( "Simple OSM Map");
    map.addLayer(layer);
    map.setCenter(
        new OpenLayers.LonLat(-1.422, 50.930).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 12
    ); 
    
    // Add Vector marker
    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    var feature = new OpenLayers.Feature.Vector(
     new OpenLayers.Geometry.Point(-71.147, 42.472),
     {some:'data'},
     {externalGraphic: 'img/marker.png', graphicHeight: 21, graphicWidth: 16});
    vectorLayer.addFeatures(feature);
    map.addLayer(vectorLayer);
};
init();
</script>

{% endblock %}