<div class="panel panel-default">
    <div class="panel-info small" title="Locality">
        {{ question.post.targetLocality | default('<span class="label label-default">Not specified</span>') }}
    </div>
    <div class="clearfix">
        <div class="panel-heading col-sm-9">
            <h3 class="text-center">
                <a href="/crisis/{{ crisis.id }}/question/{{ question.id }}" style="color:black">{{ question.post.title }}</a><br/>
                <small>by {{ question.post.author }}</small>
            </h3>
        </div>
        <div class="col-sm-3 text-center pull-right">
            <div class="text-muted item-top-margin" title="Marked as important"><i class="fa fa-exclamation"></i> {{ question.importanceCount }}</div>
            <div class="text-muted item-top-margin" title="People who saw it"><i class="fa fa-eye"></i> {{ question.viewCount }}</div>
            <div class="text-muted item-top-margin" title="Evidence for"><i class="fa fa-plus"></i> {{ question.supportedAnswerCount }}</div>
            <div class="text-muted item-top-margin" title="Evidence against"><i class="fa fa-minus"></i> {{ question.rejectedAnswerCount }}</div>
        </div>
        <div class="panel-body">
            {% if question.post.targetImage %}
                <img src="{{ question.post.targetImage }}" />
            {% else %}
                {{ question.post.text }}
            {% endif %}
        </div>
    </div>
    <div class="panel-footer">
        {% if question.post.tags.length == 0 %}
            <span class="label label-default">No tags</span>
        {% else %}
            {% for tag in question.post.tags %}
                <a href="#" class="label label-primary">{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>


