{% extends '../layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div id="map" class="smallmap" style="height: 300px;"></div>
        </div>
        <div class="col-sm-4" >
        Verily is a platform for...   
        </div>
    </div>



<div class="row">
    <div class="pull-right">
        <a href="/crisis">View all crises.</a>
    </div>
</div>

<div class="row crises">
	<div class="col-sm-2">
    	<h4>Most Recent Crises: </h4>
    </div>
        {% for crisis in crises | reverse %}
            <div class="col-sm-2" >
                <a href="/crisis/{{ crisis.id }}/question"><h4><u>{{ crisis.post.title }}</u></h4></a>
            </div>   
        {% endfor %}
    
</div>



<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
var map, layer;
function init(){
    map = new OpenLayers.Map('map');
    layer = new OpenLayers.Layer.OSM( "Simple OSM Map");
    map.addLayer(layer);
    map.setCenter(
        new OpenLayers.LonLat(-1.422, 50.930).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 12
    ); 
    
    // Add Vector marker
    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    var feature = new OpenLayers.Feature.Vector(
     new OpenLayers.Geometry.Point(-71.147, 42.472),
     {some:'data'},
     {externalGraphic: 'img/marker.png', graphicHeight: 21, graphicWidth: 16});
    vectorLayer.addFeatures(feature);
    map.addLayer(vectorLayer);
};
init();
</script>

{% endblock %}