body {
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#content {
    margin-bottom: 1em;
}

footer {
    margin-top: 3em;
}

footer a {
    color: #777777 !important;
}

#fb-root {
    display: none;
}

a {
    color: #007ea5 !important;
}

.btn-primary {
    background-color: #007ea5;
    border-color: #006c8d;
    color: #ffffff !important;
}

.btn-default {
    background-color: transparent;
}

.logo {
    font-family: 'Abril Fatface', cursive;
    color: #007ea5 !important;
    font-size: 35px;
}

.logo .first-char {
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: -0.13em;
}

.logo.welcome {
    font-size: 60px;
    line-height: 60px;
}

.transparent {
    background-color: transparent;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

.flash-msgs-ctr {
    padding-top: 1.5em;
}

div.welcome {
/*    margin-top: 3em;*/
}

div.welcome .well {
    padding-top: 0;
}

div.welcome p.lead {
    margin-bottom: 0.5em;
}

div.welcome p.event-date {
    display: inline-block;
    margin-right: 0.5em;
}

div.welcome .button-switch-timezone {
    font-weight: normal;
}

div.welcome .share-buttons {
}

div.welcome .enter-challenge-ctr {
    margin-top: 0.5em;
}

div.welcome .share-buttons .btn-group {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

div.welcome .add-to-calendar-button {
/*    margin-left: 0.5em;*/
}

div.welcome .signup-form-for-updates input {
    margin-bottom: 0.5em;
}



.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* TODO: Use LESS variables */
.text-muted a {
    color: #999;
}

.fa-fw {
    width: 1em;
}

.col-trim-padding {

}

.freesize-row div.pull-left {
    padding-left: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

p.metadata {
    margin-bottom: 7px;
}

.small-caps {
    font-variant: small-caps;
}

fa.breadcrumb {
    margin-right: 0.5em;
}



.calendar-day {
    top: 3px;
}

.date-adj-calendar {
    top: 3px;
    line-height: 2em;
    width: 18em;
    text-align: left;
    margin-left: 2.5em;
}

.question.page-header {
/*    border-left-width: 0.75em;
    border-left-style: solid;
    padding-left: 1em;
    border-bottom-style: none;*/
}

.action-buttons {
    margin-top: 1em;
}

.action-buttons .row {
    margin-right: 0;
}

.action-button-ctr {
    margin-top: 1em;
    float: right
}

.mini.action-button-ctr {
    margin-left: 15px;
    float: none;
}

.mini.action-button-ctr:first-child {

}

.mini.action-button-ctr:last-child {
    margin-right: 15px;
}

.additional-button-ctr {
    margin-top: 1em;
}



.text-action-button {
/*    width: 7em;*/

    min-width: 4em;
    font-weight: 800;

}

.text-action-button.share-button {
    height: 28px;
    padding: 3px 12px;
/*    background-color: transparent;*/
}

.text-action-button * {
}

.text-action-button.btn-success {
    border-color: #398439;
}

.text-action-button.btn-danger {
    border-color: #ac2925;
}

/* TODO Use LESS variables for 768px and margins (15px) */

    
    .action-buttons {
        margin-top: 0;
/*        padding-left: 15px;*/
    }
    
    .action-button-ctr {
/*        margin-left: 15px;*/
        margin-right: 15px;
        float: none;
    }
    
/*    
    @media (max-width: 768px) {
        .text-action-button {
            width: 3em;
        }
    }*/
    
    .form-control.collapse-with-margin {
        margin-top: 5px;
    }




.mini-action-button {
    width: 3em;
}

#facebook-share-button > span {
    width: 80px !important;
    height: 16px !important;
}

.facebook-blue {
    color: #3b5998 !important;
}

#facebook-share-button iframe {
    transform: scale(1.3);
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    -o-transform: scale(1.3); 
    -moz-transform: scale(1.3); 
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}

.modal .vertically-centred {

}

#modal-share-question-link .modal-body {
/*    padding: 0;*/
    text-align: center;
}

#field-share-question-link {
    border: none;
}


.question-answer .action-button-ctr {
    padding-top: 1em;
    margin-top: 0;
}

@media (max-width: 768px) {
    .question-image-and-map-ctr .col {
        margin-top: 1em !important;
    }
    
    .nav.navbar-nav.pull-right {
        float: left !important;
    }
    
    .centre-when-viewport-narrowed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none !important;
    }
    
    .login-aside-button {
        margin-top: 2em !important;
    }
    
    .login-aside-button:first-child {
        margin-top: 3em !important;
    }
    .video{
        widows: 100% !important;;
    }
}

.login-aside-button {
    margin-top: 1em;
}

.login-aside-button:first-child {
    margin-top: 0;
}

.evidence-content {
    margin-bottom:30px;
}

.crisis-question-metrics {
    font-size: 1.5em;
}

.crisis-question-metric {
    padding-left: 0;
    padding-right: 5px;
}

.success {
    color: #5cb85c;
}

.danger {
    color: #d2322d;
}

.crisis-question-metric.important {
    background-color: transparent;
    color: #000000;
/*    border: 1px solid #ededed;*/

}

.metric.false i {
    color: #803230;
}



/* TODO Use LESS variables */
.action-button-count {
    background-color: #ffffff !important;
    color: #428bca;
/*    min-width: 4.25em;*/
}

/* Buttons with a background colour need better borders */
.action-button-count.back-coloured {
    margin-left: 0 !important;
    border-left: none;
}

.mini .action-button-count {
    min-width: 2em;
}

.tag {
    font-weight: normal;
    font-size: 100%;
}

.question-image-and-map-ctr {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.question-image-and-map > div {
/*    padding-top: 1em;*/
/*    margin-top: 0;*/
}

.question-answers {
    margin-top: 1em;
}

.text-muted code {
    color: #999999;
}


.well.form {
    padding-top: 0;
}

.form-control.plain {
    background-color: transparent;
    border: none;
    box-shadow: none;
    webkit-box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.has-feedback .form-control-feedback.with-input-lg {
    top: 31px;
}

#form-image-upload-ctr {
/*    background-color: #ffffff;*/
    
}

.video {
    margin-top: 1em;
    width:50%;
}

.video-wrapper {
    text-align: center;
}
.video-spinner{
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-container {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-video-validate{
    margin-top:5px;
}
.question-answer {
/*    border-left: 5px solid transparent;*/
}

.question-answer .panel-heading {
    border-bottom: none;
}

.question-answer .panel-heading {
    background-color: #ffffff;
}

.question-answer-bar {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.question-answer-bar .metric {
    color: #ffffff;
}

.question-answer-bar > span {
    margin-left: 5px;
    margin-right: 5px;
}

.question-answer .panel-title {
    font-size: 1.75em;
}

/* TODO Change to use LESS variables */
.border-true {
    border-left-color: #5cb85c;
}

.border-false {
    border-left-color: #d9534f;  
}

.border-not-available {
    border-left-color: #ededed;
}

.crisis-ask-question {
/*    margin-top: 1em;*/
}

.crisis-question-border {
    border-left-width: 0.75em;
    border-left-style: solid;
}



.metadata .inline-metadata {
    margin-left: 1em;
}

.metadata .inline-metadata:first-child {
    margin-left: 0 !important;
}


.breadcrumb {
    margin-top: -20px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.question-title {
    margin-top: 0;
}

#form-title-chars-left {
    font-weight: bold;
}

.form-group a.tag {
    margin-left: 0.5em;
}

.form-group a.tag .label {
    display: inline-block;
/*    font-size: 100%*/
}



.olControlAttribution {
    bottom: 0 !important;
}
.item-top-margin {
    margin-top: 1.0em;
}
.btn-group-left-margin {
    margin-left: 3.0em;
}
#alert-window{
    position:absolute;
    min-height:100px;
    width:400px;
    top:5px;
    right:50px;
    z-index:10000;
}
.question .twitter-share-button {
    margin-top: 11px;
/*    height:31px;*/
}

.comments-content{
    margin-top:20px;
}

#widget{
    padding-bottom: 20px !important;
}
.disabled.well{
    opacity: .5;
}