{% extends '../layout.html' %}

{% set path = '/about' %}

{% block content %}

<div class="team row">

    <div class="col-md-8">
	    <h2>About</h2>
	    <div>
		Verily is an experimental web application for crowdsourcing information verification for disaster response. 
		<em>It was featured in <a href="http://ideas.foreignpolicy.com/posts/2013/05/01/can_critical_thinking_be_crowdsourced">Foreign Policy</a>, <a href="http://www.newscientist.com/article/dn23427-nowhere-to-hide-the-next-manhunt-will-be-crowdsourced.html">New Scientist</a> and <a href="http://www.technologyreview.com/news/514056/preventing-misinformation-from-spreading-through-social-media/">MIT Technology Review</a></em>, as well as in a 
		<a href="https://www.youtube.com/watch?v=7eKkquHiFE4&t=10m42s">TedX talk on Digital Humanitarians</a>.
		</div>

	    <div>
		Development of the platform is led by <a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a> and <a href="http://users.ecs.soton.ac.uk/ec/">Enrico Costanza</a> at the University of Southampton, thanks to the enthusiasm, technical expertise and relentless work of <a href="http://alexgreenland.com/">Alex Greenland</a>, Dimitrios Papamilios and Luis Arenal Mijares, who are students of the <a href="http://www.ecs.soton.ac.uk/programmes/msc-web-technology">Web Technology MSc programme</a>.
	    </div>
        
		<div>
		Verily was designed by <a href="http://chato.cl/research/">Carlos Castillo</a> (<a href="http://www.qcri.qa/page?a=103&lang=en-CA">QCRI</a>), <a href="http://alexgreenland.com/">Alex Greenland</a>, Dimitrios Papamilios, Luis Arenal Mijares, <a href="http://irevolution.net/bio/">Patrick Meier</a> (<a href="http://www.qcri.qa/page?a=103&lang=en-CA">QCRI</a>), <a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a> (<a href="http://www.aic.ecs.soton.ac.uk/">Southampton</a>) and <a href="http://www.mit.edu/~irahwan/">Iyad Rahwan</a> (<a href="http://www.masdar.ae/en/">Masdar</a>).
	    </div>

	    <div>
		In July 2014 we are running the first public trial of Verily, thanks to the effort of <a href="http://www.juscomms.com/">Justine Mackinnon</a>.
	    </div>

	    <div>
		Verily is supported, in part, by the <a href="http://www.orchid.ac.uk">ORCHID</a> project.
	    </div>

	    <div>
		For more information about Verily please contact us at <a href="mailto:contact@veri.ly">contact@veri.ly</a>
		<br/>
		Follow us <a href="https://twitter.com/intent/user?screen_name=veridotly">@VeriDotLy</a>
	    </div>
	</div>
	<div class="col-md-4">
		<h2>Team</h2>
		<ul class="no-bullets">
		    <li><a href="http://alexgreenland.com/">Alex Greenland</a></li>
		    <li><a href="http://chato.cl/research/">Carlos Castillo</a></li>
		    <li>Dimitrios Papamilios</li>
		    <li><a href="http://users.ecs.soton.ac.uk/ec/">Enrico Costanza</a></li>
		    <li><a href="http://www.mit.edu/~irahwan/">Iyad Rahwan</a></li>
		    <li><a href="http://www.juscomms.com/">Justine Mackinnon</a></li>
		    <li>Luis Arenal Mijares</li>
		    <li><a href="http://irevolution.net/bio/">Patrick Meier</a></li>
		    <li><a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a></li>
		</ul>
    </div>
    
</div>

{% endblock %}