{% extends '../layout.html' %}

{% set path = '/about' %}

{% block content %}

<h3>Project Leads</h3>
<ul>
    <li><a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a></li>
    <li><a href="http://users.ecs.soton.ac.uk/ec/">Enrico Costanza</a></li>
</ul>

<h3>Software Design and Development &ndash; <a href="http://www.ecs.soton.ac.uk/">ECS, University of Southampton</a></h3>
<ul>
    <li>Alex Greenland</li>
    <li>Luis Arenal Mijares</li>
    <li>Dimitrios Papamilios</li>
</ul>

<h3> Verily Challenge Organizer</h3>
<ul><li><a href="http://www.juscomms.com/">Justine Mackinnon</a></li>
</ul>
    

<h3>Project co-Leads</h3>
<ul>
    <li><a href="http://chato.cl/research/">Carlos Castillo</a></li>
    <li><a href="http://irevolution.net/bio/">Patrick Meier</a></li>
    <li><a href="http://www.mit.edu/~irahwan/">Iyad Rahwan</a></li>
</ul>


{% endblock %}