{% extends '../layout.html' %}

{% set path = '/about' %}

{% block content %}

<div class="team row">

    <div class="col-md-8">
	    <h2>About</h2>
	    <div>
		Verily is an experimental web application designed to rapidly crowdsource the verification of information during humanitarian disasters. 
		It has been featured in <a href="http://ideas.foreignpolicy.com/posts/2013/05/01/can_critical_thinking_be_crowdsourced">Foreign Policy</a>, <a href="http://www.newscientist.com/article/dn23427-nowhere-to-hide-the-next-manhunt-will-be-crowdsourced.html">New Scientist</a> and <a href="http://www.technologyreview.com/news/514056/preventing-misinformation-from-spreading-through-social-media/">MIT Technology Review</a>, as well as in a 
		<a href="https://www.youtube.com/watch?v=7eKkquHiFE4&t=10m42s">TedX talk on Digital Humanitarians</a> and the TTI Vanguard presentation below. 
        The platform has also been piloted by international news organizations. In addition to rapidly verifying information during crisis events, Verily <a href="/help">aims to educate</a> members of the public so they can become better &quot;Digital Detectives&quot;. Simply <a href="/register">sign up here</a> if you want to know when respected humanitarian organizations need help verifying information.
		</div>
	
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FPHPi0LYz7o?start=1442s&rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>	
  
		<h3>Credits</h3>
		<div>
		Verily was introduced in 2013 in a <a href="http://www2013.org/companion/p1029.pdf">paper</a> by <a href="http://chato.cl/research/">Carlos Castillo</a> (<a href="http://www.qcri.qa/page?a=103&lang=en-CA">QCRI</a>),  <a href="http://irevolution.net/bio/">Patrick Meier</a> (<a href="http://www.qcri.qa/page?a=103&lang=en-CA">QCRI</a>), <a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a> (<a href="http://www.aic.ecs.soton.ac.uk/">Southampton</a>) and <a href="http://www.mit.edu/~irahwan/">Iyad Rahwan</a> (<a href="http://www.masdar.ae/en/">Masdar</a>).
		A proof-of-concept was developed that year by Dmytro Krasnoshtan, Attila-Peter Toth, and Abdulfatai Popoola.
	    </div>
	    
	    <div>
		Design and development of the actual platform started in 2014 spearheaded by <a href="http://users.ecs.soton.ac.uk/ec/">Enrico Costanza</a> and <a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a> at the University of Southampton, thanks to the enthusiasm, technical expertise and relentless work of <a href="http://uk.linkedin.com/pub/luis-arenal/46/778/684/de">Luis Arenal Mijares</a>, <a href="http://alexgreenland.com/">Alex Greenland</a> and <a href="http://gr.linkedin.com/pub/dimitrios-papamilios/70/510/33b">Dimitrios Papamilios</a>, who at the time were students of the <a href="http://www.ecs.soton.ac.uk/programmes/msc-web-technology">Web Technology MSc programme</a>.
	    </div>
	    
	    <div>
		In July 2014 we ran the first public trial of Verily, thanks to the effort of <a href="http://www.juscomms.com/">Justine Mackinnon</a> (<a href="http://www.qcri.qa/page?a=103&lang=en-CA">QCRI</a>).
	    </div>
	    
	    <div>
		Verily is supported, in part, by the <a href="http://www.orchid.ac.uk">ORCHID</a> project.
	    </div>
	    
        <h3>Contact</h3>
	    <div>
		For more information about Verily please contact us at <a href="contact@veri.ly">contact@veri.ly</a> 
		<br/>
		Follow us <a href="https://twitter.com/intent/user?screen_name=veridotly">@VeriDotLy</a>
	    </div>
	    
        <h3 id="copyright">Copyright</h3>
        <div>
            &copy; 2014 Verily team. Source code is <a href="https://github.com/verily-org/verily/blob/master/LICENSE">MIT-licensed</a>, available on <a href="https://github.com/verily-org/verily">GitHub</a>.
        User-contributed submissions are licensed with the <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY-3.0 licence</a>.
        </div>
	    
	</div>
	
	<div class="col-md-4">
		<h2>Team</h2>
		<ul class="no-bullets">
            <li><a href="http://uk.linkedin.com/pub/luis-arenal/46/778/684/de">Luis Arenal Mijares</a></li>
		    <li><a href="http://chato.cl/research/">Carlos Castillo</a></li>
            <li><a href="http://users.ecs.soton.ac.uk/ec/">Enrico Costanza</a></li>
            <li><a href="http://alexgreenland.com/">Alex Greenland</a></li>
		    <li><a href="http://www.juscomms.com/">Justine Mackinnon</a></li>
		    <li><a href="http://irevolution.net/bio/">Patrick Meier</a></li>
		    <li><a href="http://users.ecs.soton.ac.uk/vn/">Victor Naroditskiy</a></li>
            <li><a href="http://gr.linkedin.com/pub/dimitrios-papamilios/70/510/33b">Dimitrios Papamilios</a></li>
            <li><a href="http://www.mit.edu/~irahwan/">Iyad Rahwan</a></li>
		</ul>
    </div>
    
</div>

{% endblock %}