<span class="fa-stack">
    <i class="fa fa-calendar-o fa-stack-2x" aria-hidden="true"></i>
    <span class="fa-stack-1x calendar-day" aria-hidden="true">{{ question.post.targetDateTimeOccurred|date('d') }}</span>
    <span class="sr-only">Occurred:</span>
    <span class="fa-stack-1x date-adj-calendar">{{ question.post.targetDateTimeOccurred|date('D, d M Y H:i:s') }} <abbr title="Coordinated Universal Time" class="initialism"><a href="http://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a></abbr> ({{ question.post.relativeTargetDateTimeOccurred }})</span>
</span>