<div class="form-group">
    <label>YouTube Video</label>. You need to have a licence to embed the video
    <br>
    <span class="text-muted">
        Enter the Video ID, e.g. <code>8aNiTigvut0</code> for <a href="http://www.youtube.com/watch?v=8aNiTigvut0">http://www.youtube.com/watch?v=8aNiTigvut0</a>
    </span>

    <div id="form-video-link-ctr">
        <span class="sr-only">YouTube Video ID</span>
        <input type="text" class="form-control" id="form-video-youtube-id" name="targetYoutubeVideoId" placeholder="YouTube Video ID">
    </div>
    

</div>
