{% import '../macros/_generic.html' as generic_macros %}
<div class="form-group clearfix">
    <label class="control-label">Video</label> You need to have a licence to embed the video

    <div id="form-video-link-ctr" class="form-video-link-ctr">
        <span class="sr-only">Video URL</span>
        <input type="text" class="form-control form-video-image" id="form-video-url" name="targetVideoUrl" placeholder="Video URL" value="{{ post.targetVideoUrl | default('') }}">
        <!-- BUTTON TO VALIDATE VIDEO
            <div class="btn btn-default btn-video-validate" title="validate"><i class="fa fa-check-circle-o"></i></div>
        -->
    </div>
    <div class="video video-wrapper" style="display:none;">
        <div class="video-spinner"><div class="fa fa-spinner fa-spin fa-3x"></div></div>
        <div class="video-container"></div>
        <div class="video-error-message" style="display: none">
            Video not found, the following message will be displayed:
            <div class="alert alert-warning">
                Video link: <a target="_blank"></a>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            var video_ctr = $('#form-video-link-ctr');
            var label = video_ctr.prev().prev().prev();
            var originalHtml = label.html();
            $('.btn-video-validate').click(function(){
                var video_wrapper = $(this).parent('div.form-video-link-ctr').next('div.video-wrapper');
                var url_text = $('#form-video-url').val();
                if(url_text.length < 3){
                    showError(label, video_ctr, originalHtml, 'provide a URL!');
                    return;
                }
                validateURL(url_text, function(error, value){
                    if(error){
                        showError(label, video_ctr, originalHtml, error);
                        return;
                    }
                    else{
                        hideError(label, video_ctr, originalHtml);
                        getVideoAjax(url_text, video_wrapper);
                    }
                });

            });
        });
        function showError(label, control, originalHtml, error){
            label.html(originalHtml + ' &ndash; ' + error);
            control.parent('div').addClass('has-error has-feedback');
        }
        function hideError(label, control, originalHtml){
            label.html(originalHtml);
            control.parent('div').removeClass('has-error has-feedback');
        }

    </script>
    {{ generic_macros.video_html_ajax_functions() }}

</div>
