<div class="form-group">
    {% if type !== 'evidence' %}
        <label for="form-title" class="control-label">Title</label>
    {% else %}
        <label for="form-title" class="control-label hidden">Title</label>
        <div class="input-group">
            <span class="input-group-addon title-prefix input-lg"></span>
    {% endif %}
        <input type="text" class="form-control input-lg" id="form-title" name="title" placeholder="{% if type !== 'evidence' %} Short {{ type }} description {% endif %}" value="{{ post.title }}">
    
    {% if type == 'evidence' %}
        </div>
    {% endif %}
    <div id="form-title-chars-left" class="pull-right">
        <span class="sr-only">Characters remaining:</span><span class="value"></span>
    </div>
</div>

{% include 'title-js.html' %}