{% extends '../layout.html' %}

{% set path = '/help' %}

{% block content %}

<div class="row">
	<div class="container">
		<h2>
			Need Help? 
		</h2>
		<h2>
			Got feedback? 
		</h2>
		<h2>
			Found a bug? 
		</h2>
		<h3>Please let us know!</h3>
		<div class="row">
			<div class="container">
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button facebook-button" href="https://www.facebook.com/VeriDotLy"><i class="fa fa-facebook"></i> Verily Facebook Page</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button twitter-button" href="https://twitter.com/VeriDotLy"><i class="fa fa-twitter"></i> Verily Twitter Account</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button" href="mailto:contact@veri.ly">Email us at contact@veri.ly</a>
				</div>
			</div>
		</div>
	</div>
</div>

    
{% endblock %}