{% extends '../layout.html' %}

{% set path = '/help' %}

{% block content %}

<div class="row">
	<div class="container">
		<h2>
			Need Help? 
		</h2>
		<h2>
			Got feedback? 
		</h2>
		<h2>
			Found a bug? 
		</h2>
		<h3>Please let us know!</h3>
		<div class="row">
			<div class="container">
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button facebook-button" href="https://www.facebook.com/VeriDotLy"><i class="fa fa-facebook"></i> Verily Facebook Page</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button twitter-button" href="https://twitter.com/VeriDotLy"><i class="fa fa-twitter"></i> Verily Twitter Account</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button" href="mailto:contact@veri.ly">Email us at contact@veri.ly</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="container">
								<h3>Tips for verifying information</h4>

				<p>	When a journalist or humanitarian professional finds a piece of information or content via social media, 
					or has it sent to her, there are four elements to check and confirm:
				</p>
				
				<ul>
					<li>Provenance: Is this the original piece of content?</li>
					<li>Source: Who uploaded the content?</li>
					<li>Date: When was the content created?</li>
					<li>Location: Where was the content created?</li>
				</ul>
				<h4>Provenance:</h4>
				
				<p>
					If you’re looking at a piece of rich content, such as a photo or video, one of the first questions is whether this is the original piece of footage or picture.
					Using reverse image search tools such as TinEye or Google Images3, you can find out whether it has been posted online previously.
				</p>
				
				<h4>	Confirming the Source: </h4>

				<p>	But first you have to find the person responsible for the content. Researching the history of an uploader can mimic the characteristics 
					of an old-fashioned police investigation, and perhaps also make you feel more like a stalker rather than a journalist or researcher.
				</p>
				<p>	Some people list a great deal of information on their social profiles, and a real name (especially one that is not too common) can provide
					a wealth of information. As people live more of their lives on different social networks, they are often unaware how clues can be combined
					to build up a substantial dossier of information. A YouTube profile with little personal information listed but that includes a website URL
					can lead a journalist to a person’s address, email and personal telephone number, via the website who.is.3
				</p>
				<h4>	Confirming the date of an event: </h4>

				<p>	Be aware that YouTube date stamps its video using Pacific Standard Time. This can sometimes mean that video appears to have been uploaded
					before an event took place.
				</p>
				<p>	Another way to help ascertain date is by using weather information. Wolfram Alpha is a computational knowledge engine that, among other 
					things, allows you to check weather from a particular date. (Simply type in a phrase such as “What was the weather in Caracas on 
					September 24, 2013” to get a result.) This can be combined with tweets and data from local weather forecasters, as well as other uploads 
					from the same location on the same day, to cross-reference weather.
				</p>

				<h4>	Confirming the location:  </h4>

				<p>	Only a small percentage of content is automatically geolocated, but mapping platforms — Google Maps, Google Earth, Wikimapia — allow
					you to position yourself where the camera would have been located. This is one of the first checks that need to be performed for video
					and photos, and it is quite incredible what can be located.4 Geolocation is always more difficult, however, when the imaging is out of date,
					for example in Syria, subject to damage from bombs or shelling, or on Long Island after Hurricane Sandy.
				</p>
				<p>	Activists who are aware of the challenges of verification often pan upward before or after filming some footage to identify a building that
					could be located on a map, whether that’s a tall tower, a minaret or cathedral, or signpost. This is partly a result of news organizations’
					asking activist groups to do this5, as well as activists themselves sharing advice about best practice when uploading UGC.
				</p>
				<h4>	Verifying Images: </h4>

				<p>	Since that day in 2005, the UGC team has developed a number of approaches to help in this process. While the technology will continue
					to change — as will the tools we use — the basic principles of image verification remain the same:
				</p>
				<ul>
					<li>Establish the author/originator of the image.</li>
					<li>Corroborate the location, date and approximate time the image was taken.</li>
					<li>Confirm the image is what it is labeled/suggested to be showing.</li>
					<li>Obtain permission from the author/originator to use the image.</li>
				</ul>

				<p>	Usually, the image with the highest resolution/size should take you to the original source. (On Google Images, the resolution for each 
					image result is listed just next to the image itself.) You can then check it against the image you have and see if the source appears 
					authentic.
					Corroborate the location, date and approximate time the image was taken
					There are some useful journalistic and technical ways of establishing information such as date, location and other important details. 
					One core way of gathering this information is when you speak to the creator/uploader of the image. These five questions continue to stand 
					the test of time:
				</p>
				<p>	Second, cross-reference the image with other sources. Awaken your inner investigator by examining the image closely. Quite 
					often there will be clues that can help you verify the location and time it was taken:
				</p>
				<ul>
					<li>License/number plates on vehicles</li>
					<li>Weather conditions</li>
					<li>Landmarks</li>
					<li>Type of clothing</li>
					<li>Signage/lettering</li>
					<li>Is there an identifiable shop or building?</li>
					<li>What is the type of terrain/environment in the shot</li>
				</ul>

				<ul>
					<li>Who are they?</li>
					<li>Where are they?</li>
					<li>When did they get there?</li>
					<li>What can they see (and what does their photo show)?</li>
					<li>Why are they there?</li>
				</ul>
			</div>
		</div>
		
	</div>
</div>

    
{% endblock %}