{% extends '../layout.html' %}

{% set path = '/help' %}

{% block content %}

<div class="row">
	<div class="container">
		<h2>
			Need Help? 
		</h2>
		<h2>
			Got feedback? 
		</h2>
		<h2>
			Found a bug? 
		</h2>
		<h3>Please let us know!</h3>
		<div class="row">
			<div class="container">
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button facebook-button" href="https://www.facebook.com/VeriDotLy"><i class="fa fa-facebook"></i> Verily Facebook Page</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button twitter-button" href="https://twitter.com/VeriDotLy"><i class="fa fa-twitter"></i> Verily Twitter Account</a>
				</div>
				
				<div class="action-button-ctr btn-group">
					<a class="btn btn-default btn-large text-action-button share-button" href="mailto:contact@veri.ly">Email us at contact@veri.ly</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="container">

<p>
This page provides a number of short guides on how to verify digital content. This advice is based on chapters 9 and 10 of the <a href="http://verificationhandbook.com/downloads/verification.handbook.pdf">Verification Handbook</a>
</p>

<h3>Table of Contents</h3>
<ul>
<li><a href="How to Identify the Source of a Report">How to Identify the Source of a Report</a></li>
<li><a href="How to Verify the Origin of an Image">How to Verify the Origin of an Image</a></li>
<li><a href="How to Verify the Origin of a Video">How to Verify the Origin of a Video</a></li>
<li><a href="How to Verify the Source of a Report">How to Verify the Source of a Report</a></li>
<li><a href="How to Verify the Source of Images/Videos">How to Verify the Source of Images/Videos</a></li>
<li><a href="How to find the date of a Report">How to find the date of a Report</a></li>
<li><a href="How to find the location of a Report">How to find the location of a Report</a></li>
<li><a href="How To Find Out Where a Video was Filmed">How To Find Out Where a Video was Filmed</a></li>
<li><a href="How to Check the Facts Against each Other">How to Check the Facts Against each Other</a></li>
<li><a href="Tools for Verifying Identity">Tools for Verifying Identity</a></li>
<li><a href="Tools for Verifying Locations">Tools for Verifying Locations</a></li>
<li><a href="Tools for Verifying Images">Tools for Verifying Images</a></li>
<li><a href="Other Useful Tools">Other Useful Tools</a></li>
</ul>

<h4><a id="How to Identify the Source of a Report">How to Identify the Source of a Report: </a></h4>

<p>
The first step of User-generated content (UGC) verification is to identify the original content, be it a tweet, image, video, text message, etc. Some questions to start with:
</p>

<ul>
<li> Can you find the same or similar posts/content elsewhere online? </li>
<li> When was the first version of it uploaded/filmed/shared? </li>
<li> Can you identify the location? Was the UGC geotagged? </li>
<li> Are any websites linked from the content? </li>
<li> Can you identify the person who shared/uploaded the UGC, and contact them for more information? (See the "Source" section below.) </li>
</ul>

<p>
When dealing with images and videos, use Google Image Search or TinEye to perform a reverse image/video thumbnail search. If several links to the same image pop up, click on "view other sizes" to find the highest resolution/size, which usually is the original image.
</p>

<h4><a id="How to Verify the Origin of an Image">How to Verify the Origin of an Image</a></h4>

<ul>
<li> Use <a href="http://www.google.com/insidesearch/features/images/searchbyimage.html"> Google Image Search </a> or <a href="http://www.tineye.com/"> TinEye </a> to perform a reverse image search. If several links to the same image pop up, click on "view other sizes" to find the highest resolution/size which usually is the original image. </li>
<li> Check to see if the image has any EXIF data (metadata). Use software like <a href="http://www.photoshop.com/"> Photoshop </a> or free tools such as <a href="http://fotoforensics.com/"> Fotoforensics </a> or <a href="http://www.findexif.com/"> Findexif </a> to see information about the model of the camera, the timestamp of the image (caution: the data could default to the manufacturer's settings), and the dimensions of the original image. </li>
<li> Social networks like Twitter, Facebook and Instagram strip out most metadata. Flickr is an exception. Instead, try <a href="http://ban.jo"> Ban.jo </a> to identify the GPS data from the mobile device that uploaded the image. </li>
</ul>

<h4><a id="How to Verify the Origin of a Video">How to Verify the Origin of a Video</a></h4>
<ul>
<li> Use acronyms, place names and other pronouns for good keyword search on video sharing platforms such as <a href="http://www.youtube.com/"> YouTube </a>, <a href="https://vimeo.com/"> Vimeo </a> and <a href="http://en.wikipedia.org/wiki/Youku"> Youku </a>. </li>
<li> Use <a href="http://translate.google.com/"> Google</a><a href="http://translate.google.com/"> Translate </a> when dealing with contents in a foreign language. </li>
<li> Use the date filter to find the earliest videos matching the keywords. </li>
<li> Use <a href="http://www.google.com/insidesearch/features/images/searchbyimage.html"> Google Image Search </a> or <a href="http://www.tineye.com/"> TinEye </a> to perform a reverse video thumbnail search. </li>
</ul>

<h4><a id="How to Verify the Source of a Report">How to Verify the Source of a Report</a></h4>

<p>
With the original content identified, gather information about the author/originator of the
</p>

<p>
content. The goal is to confirm whether the person behind the account is a reliable source.
</p>

<p>
Examine an uploader's digital footprint by asking these questions:
</p>

<ul>
<li> Can you confirm the identity of, and contact, the person? </li>
<li> Are you familiar with this account? Has their content and reportage been reliable in the past? </li>
<li> Check the history of the uploader on the social network: </li>
    <ul>
    <li> How active are they on the account? </li>
    <li> What do they talk about/share? </li>
    <li> What biographical information is evident on the account? Does it link anywhere else? </li>
    <li> What kind of content have they previously uploaded? </li>
    <li> Where is the uploader based, judging by the account history? </li>
    </ul>
<li> Check who they are connected on the social network: </li>
    <ul>
    <li> Who are their friends and followers? </li>
    <li> Who are they following? </li>
    <li> Who do they interact with? </li>
    <li> Are they on anyone else's lists? </li>
    </ul>
<li> Try to find other accounts associated with the same name/username on other social networks in order to find more information: </li>
    <ul>
    <li> If you find a real name, use people search tools (<a href="http://www.spokeo.com/"> Spokeo </a>, <a href="http://www.whitepages.com/"> White Pages </a>, <a href="https://pipl.com/"> Pipl.com </a>, <a href="http://www.webmii.com/"> WebMii </a>) to find the person's address, email and telephone number. </li>
    <li> Check other social networks, such as <a href="https://www.linkedin.com/"> LinkedIn </a>, to find out about the person's professional background. </li>
    </ul>
<li> Check if a Twitter or Facebook Verified account is actually verified by hovering over the blue check. If the account is verified by Twitter or Facebook, a popup will say "Verified Account" or “Verified Page.” </li>
</ul>

<h4><a id="How to Verify the Source of Images/Videos">How to Verify the Source of Images/Videos</a></h4>

<p>
When dealing with images and videos, adopt the shooter's perspective. (These questions also work when trying to verify textual information.) Ask yourself these questions about the source to check their credibility:
</p>

<ul>
<li> Who are they? </li>
<li> Where are they? </li>
<li> When did they get there? </li>
<li> What could they see (and what does their photo/video show)? </li>
<li> Where do they stand? </li>
<li> Why are they there? </li>
</ul>

<p>
Connect their activity to any other online accounts they maintain by asking these questions:
</p>

<ul>
<li> Search Twitter or Facebook for the unique video code - are there affiliated accounts? </li>
<li> Are there other accounts - <a href="https://plus.google.com/"> Google</a><a href="https://plus.google.com/"> Plus </a>, a blog or website - listed on the video profile or otherwise affiliated with this uploader? </li>
<li> What information do affiliated accounts give that indicate recent location, activity, reliability, bias or agenda? </li>
<li> How long have these accounts been active? How active are they? (The longer and more active, the more reliable they probably are.) </li>
<li> Who are the social media accounts connected with, and what does this tell us about the uploader? </li>
<li> Can we find whois information for an affiliated website? </li>
<li> Is the person listed in local phone directories, on <a href="http://www.spokeo.com/"> Spokeo </a>, <a href="https://pipl.com/"> Pipl.com </a>, <a href="http://www.webmii.com/"> WebMii </a> or on <a href="https://www.linkedin.com/"> LinkedIn </a>? </li>
<li> Do their online social circles indicate they are close to this story/location? </li>
</ul>

<h4><a id="How to find the date of a Report">How to find the date of a Report</a></h4>

<p>
Verify the date and approximate time, particularly when dealing with photos/videos:
</p>

<ul>
<li> Check the weather information on the day and the location where the event happened. Is the weather condition the same from the (local) weather forecasts and other uploads from the same event? Use Wolfram Alpha to perform a search (e.g., "What was the weather in London, England, on January 20, 2014?"). </li>
<li> Search news sources for reports about events on that day. </li>
<li> Using video and image search (YouTube, Google, TinEye, etc.), see if any earlier pieces of content from the same event predate your example. (Be aware that YouTube date stamps using Pacific Standard Time from the moment the upload begins.) </li>
<li> For images and video, look (and listen) for any identifying elements that indicate date/time, such as clocks, television screens, newspaper pages, etc. </li>
</ul>

<h4><a id="How to find the location of a Report">How to find the location of a Report</a></h4>

<p>
Another crucial aspect of verification is to identify the location of the content:
</p>

<ul>
<li> Does the content include automated geolocation information? (Services such as <a href="https://www.flickr.com/"> Flickr </a>, <a href="http://picasa.google.com/"> Picasa </a> and <a href="https://twitter.com/?lang=en"> Twitter </a> offer the option of including location, though it is not foolproof.) </li>
<li> Find reference points to compare with satellite imagery and geolocated photographs, such as: </li>
    <ul>
    <li> Signs/lettering on buildings, street signs, car registration plates, billboards, etc. Use <a href="http://translate.google.com/"> Google Translate </a> or <a href="http://www.free-ocr.com/"> free.orc.com </a> for online translation. </li>
    <li> Distinctive streetscape/landscape such as mountain range, line of trees, cliffs, rivers, etc. </li>
    <li> Landmarks and buildings such as churches, minarets, stadiums, bridges, etc. </li>
    </ul>
<li> Use <a href="https://www.google.com/maps/views/streetview?gl=us"> Google Street View </a> or <a href="https://maps.google.com/"> Google Maps </a>' "Photos" function to check if geolocated photographs match the image/video location. </li>
<li> Use <a href="https://earth.google.com/"> Google Earth </a> to examine older images/videos, as it provides a history of satellite images. Use Google Earth's terrain view. </li>
<li> Use Wikimapia, the crowdsourced version of <a href="https://maps.google.com/"> Google Maps </a>, to identify landmarks. </li>
    <ul>
    <li> Weather conditions such as sunlight or shadows to find approximate time of day. Use Wolfram Alpha to search weather reports at specific time and place. </li>
    <li> License/number plates on vehicles </li>
    <li> Clothing </li>
    </ul>
</ul>

<h4><a id="How To Find Out Where a Video was Filmed">How To Find Out Where a Video was Filmed</a></h4>

<ul>
<li> Examine the language(s) spoken in the video. Check if accents and dialects match up with the geographical location. Beware that Google Translate does not give correct translation for some languages. Ask those who speak the language for support. </li>
<li> Are video descriptions consistent and mostly from a specific location? </li>
<li> Are videos dated? </li>
<li> If videos on the account use a logo, is this logo consistent across the videos? Does it match the avatar on the <a href="http://www.youtube.com/"> YouTube </a> or <a href="https://vimeo.com/"> Vimeo </a> account? </li>
<li> Does the uploader "scrape" videos from news organizations and other YouTube accounts, or do they upload solely user-generated content? </li>
<li> Does the uploader write in slang or dialect that is identifiable in the video's narration? </li>
<li> Are the videos on this account of a consistent quality? (On <a href="http://www.youtube.com/"> YouTube </a> go to Settings and then Quality to determine the best quality available.) </li>
<li> Do video descriptions have file extensions such as .AVI or .MP4 in the video title? This can indicate the video was uploaded directly from a device. </li>
<li> Does the description of a<a href="http://www.youtube.com/">YouTube </a> video read: "Uploaded via YouTube Capture"? This may indicate the video was filmed on a smartphone. </li>
</ul>

<h4><a id="How to Check the Facts Against each Other">How to Check the Facts Against each Other</a></h4>

<p>
Once you finish verifying, you need to cross-reference all of the info. Ask yourself:
</p>

<ul>
<li> Do the images/videos/content make sense given the context in which it was shot/filmed? </li>
<li> Does anything look out of place? </li>
<li> Do any of the source's details or answers to my questions not add up? </li>
<li> Did media outlets or organizations distribute similar images/videos? </li>
<li> Is there anything on <a href="http://www.snopes.com/info/top25uls.asp"> Snopes </a> related to this? </li>
<li> Does anything feel off, or too good to be true? </li>
</ul>

<h4><a id="Tools for Verifying Identity">Tools for Verifying Identity</a></h4>

<p>
Use these online verification tools to find contact details and profiles of users who are active on social media
</p>

<ul>
<li> <a href="http://www.anywho.com/whitepages"> AnyWho </a>: a free white pages directory with a reverse look-up function. </li>
<li> <a href="http://www.allareacodes.com/"> AllAreaCodes </a>: allows users to look up any name and address listed against a phone number. The service is free if the number is listed in the White Pages, and they provide details about unlisted numbers for a small price. </li>
<li> <a href="https://www.facebook.com/about/graphsearch"> Facebook Graph Search </a>: provides a streamlined method to locate individuals for the verification of information. Journalists do not need to know the name of the person they are searching for; instead, they can search based on other known criteria such as location, occupation and age. </li>
<li> <a href="http://geosocialfootprint.com/"> GeoSocial Footprint </a>: a website where one can track the users' location "footprint" created from GPS enabled tweets, social check ins, natural language location searching (geocoding) and profile harvesting. </li>
<li> <a href="http://www.hvr.me/"> Hoverme </a>: this plug-in for Google Chrome reveals social media users' profiles on other networks from their Facebook news feed. </li>
<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/identify/"> Identify </a>: this Firefox plugin creates a profile of individuals' social media identities from any page. </li>
<li> <a href="https://www.linkedin.com/"> Linkedin </a>: through work history and connections Linkedin can provide additional means to track an individual down and verify the person's identity or story. </li>
<li> <a href="http://muckrack.com/"> Muck Rack </a>: lists thousands of journalists on Twitter, Facebook, Tumblr, Quora, Google+, LinkedIn who are vetted by a team of Muck Rack editors. </li>
<li> <a href="http://www.numberway.com/"> Numberway </a>: a directory of international phone books. </li>
<li> <a href="https://google.org/personfinder/global/home.html"> Person Finder </a>: one of the most well-known open source databanks for individuals to post and search for the status of people affected by a disaster. Whenever a large scale disaster happens, the Google Crisis Team sets up a person finder. </li>
<li> <a href="https://pipl.com/"> Pipl.com </a>: searches for an individual's Internet footprint and can help identify through multiple social media accounts, public records and contact details. </li>
<li> <a href="http://rapportive.com/"> Rapportive </a>: this Gmail plugin gives users a profile on their contacts, including social media accounts, location, employment. </li>
<li> <a href="http://www.spokeo.com/"> Spokeo </a>: a people search engine that can find individuals by name, email, phone or username. Results are merged into a profile showing gender and age, contact details, occupation, education, marital status, family background, economic profile and photos. </li>
<li> <a href="http://www.webmii.com/"> WebMii </a>: searches for weblinks that match an individual's name, or can identify unspecified individuals by keyword. It gives a web visibility score which can be used to identify fake profiles. </li>
<li> <a href="http://whois.net/"> WHOIS </a>: finds the registered users of a domain name and details the date of  registration, location and contact details of the registrant or assignee.09 </li>
</ul>

<h4><a id="Tools for Verifying Locations">Tools for Verifying Locations</a></h4>

<p>
Did something actually happen where the crowd said it happened?
</p>

<ul>
<li> <a href="http://www.flickr.com/"> Flikr </a>: search for geolocated photos. </li>
<li> <a href="http://www.free-ocr.com/"> free-ocr.com </a>: extracts text from images which can then be put into Google translate or searched on other mapping resources. </li>
<li> <a href="https://maps.google.com/"> Google Maps </a>: an online map providing high-resolution aerial or satellite imagery covering much of the Earth, except for areas around the poles. Includes a number of viewing options such as terrain, weather information and a 360-degree street level view. </li>
<li> <a href="http://translate.google.com/"> Google Translate </a>: can be used to uncover location clues (e.g. signs) written in other languages. </li>
<li> <a href="http://www.meteofrance.com/accueil"> Météo-France </a>: France's meteorological agency makes freely available Europe focused radar and satellite images, maps and climate modelling data. </li>
<li> <a href="http://earthobservatory.nasa.gov/"> NASA Earth Observatory </a>: the Earth Observatory was created to share satellite images and information with the public. It acts as a repository of global data imagery, with freely available maps, images and datasets. </li>
<li> <a href="http://www.panoramio.com/"> Panoramio </a>: photo-sharing website carrying millions of geolocated images uploaded to a Google Maps layer. </li><li> <a href="http://picasa.google.com/"> Picasa </a>: search for geolocated photos. </li>
<li> <a href="http://www.unitedstateszipcodes.org/"> United States ZIP Codes </a>: an online map of the United States categorized according to ZIP code. Users are able to search for a specific ZIP code, or can explore the map for information about different ZIP codes. </li>
<li> <a href="http://www.wolframalpha.com/"> Wikimapia </a>: crowsourced version of Google maps containing points of interest and descriptions. </li>
<li> <a href="http://www.wolframalpha.com/"> Wolfram Alpha </a>: a computational answer engine that responds to questions using structured and curated data from its knowledge base. Unlike search engines, which provide a list of relevant sites, Wolfram Alpha provides direct, factual answers and relevant visualizations. </li>
</ul>

<h4><a id="Tools for Verifying Images">Tools for Verifying Images</a></h4>

<p>
Is a particular image a real depiction of what's happening?
</p>

<ul>
<li> <a href="http://www.findexif.com/"> Findexif.com </a>: another tool that can be used to reveal EXIF information. </li>
<li> <a href="http://fotoforensics.com/"> Foto Forensics </a>: this website uses error level analysis (ELA) to indicate parts of an image that may have been altered. ELA looks for differences in quality levels in the image, highlighting where alterations may have been made. </li>
<li> <a href="https://support.google.com/websearch/answer/1325808?hl=en"> Google Search by Image </a>: by uploading or entering an image's URL, users can find content such as related or similar images, websites and other pages using the specific image. </li>
<li> <a href="http://regex.info/exif.cgi"> Jeffrey's Exif Viewer </a>: an online tool that reveals the Exchangeable Image File (EXIF) information of a digital photo, which includes date and time, camera settings and, in some cases GPS location. </li>
<li> <a href="http://sourceforge.net/projects/jpegsnoop/"> JPEGSnoop </a>: a free Windows-only application that can detect whether an image has been edited. Despite its name it can open AVI, DNG, PDF, THM and embedded JPEG files. It also retrieves metadata including: date, camera type, lens settings, etc. </li>
<li> <a href="http://www.tineye.com/"> TinEye </a>: a reverse image search engine that connects images to their creators by allowing users to find out where an image originated, how it is used, whether modified versions exist 10 and if there are higher resolution copies. </li>
</ul>

<h4><a id="Other Useful Tools">Other Useful Tools</a></h4>

<ul>
<li> <a href="http://aidr.qcri.org/"> AIDR platform </a>: uses human and computer monitoring to weed out rumors on Twitter. </li>
<li> <a href="http://ban.jo/"> Ban.jo </a>: aggregates all social media into one platform allowing images and events to be cross-checked against each other. </li>
<li> <a href="http://geofeedia.com/"> Geofeedia </a>: allows a user to search and monitor social media contents by location. By selecting a location, crowd contents from Twitter, Flickr, Youtube, Instagram and Picasa in this area are gathered in real time. Geofeedia can assist in the verification process, by crossreferencing posts within a particular area to see if details match. </li>
<li> <a href="http://www.hurisearch.org/"> HuriSearch </a>: enables you to search content from over 5,000 human rights related Web pages and easily filter these to find verifiable sources. </li>
<li> <a href="https://guardianproject.info/informa/"> InformaCam </a>: The app addresses the verification challenge by harnessing metadata to reveal the time, date and location of photos or videos. Users can send their media files, and their metadata, to third parties by using digital signatures, encryption (PGP) and TOR secure servers. </li>
<li> <a href="https://www.peoplebrowsr.com/"> PeopleBrowsr </a>: a platform and tool on which the crowd can monitor and synthesize social media and news into location and time sequence, which can then also be filtered down. The platform also features a credibility score measuring users' influence and outreach on social networks. </li>
<li> <a href="http://publicrecords.searchsystems.net/Other_Nations/"> SearchSystems.net </a>: an international directory of free public records. </li>
<li> <a href="http://snopes.com/"> Snopes.com </a>: a site dedicated to debunking Internet hoaxes, which can be used to crosscheck UGC. </li>
<li> <a href="http://veri.ly/"> Verily platform </a>: allows users to ask specific questions and provide UCG evidence for and against. </li>
<li> <a href="http://youtube-global.blogspot.nl/2012/07/face-blurring-when-footage-requires.html"> YouTube Face Blur </a>: Developed out of concern for the anonymity of individuals who appear in videos in high-risk situations, this tool allows users to blur faces of people who appear in videos they upload. To use, when you upload a video on YouTube, go to Enhancements, and then Special Effects. There you can choose to blur all faces in the video.   </li>
</ul>
   
			</div>
		</div>
		
	</div>
</div>

    
{% endblock %}