{% extends '../layout.html' %}

{% set path = '/' %}

{% block content %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1430472757228218&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="welcome">
    
    <!-- <div class="well well-sm transparent cookie-message {% if cookieMessageSeen === true %}hidden{% endif %}">
        This website is part of an academic research project at the University of Southampton (Ethics 
		reference number: ERGO/FPSE/10709) and we use cookies to collect information about your activity 
		on the website (e.g. which pages you visit). If you continue without changing your settings, we'll assume 
		that you are happy to receive all cookies on the website and you accept the <a href="/terms" target="_blank">Terms and Conditions</a>. 
		However, if you would like to, you can change your cookie 
		settings at any time. <a href="http://www.southampton.ac.uk/inf/cookies.html">More information about cookies</a>.
    </div> -->
    
    <h2 class="text-center text-bold">
        <strong>Crowdsourced evidence collection and verification for crisis response</strong>
    </h2>

    <p class="lead stay-large challenge-description text-center">
        We live in the Information Age... or the Disinformation Age.
        <br>
        Finding out the truth in the vast amount of contradictory information is becoming increasingly
        difficult for everyone. Verily uses time-critical crowdsourcing to verify information
        during major disasters on behalf of humanitarian organizations and media groups worldwide.

        Learn more about how Verily works <a href="/about">here</a>.
    </p>

    <img style=" border-radius: 80px;" src="/static/images/world-connections.jpg"class="img-responsive center-block" />

    <h3 class="text-center text-bold"><strong>Please <a target="_blank" href="https://docs.google.com/forms/d/1pJ50nJ4mSi2QU-d_kOhHPk42uJsV32H3uUoA_4DCQSQ/viewform">Click Here</a> to Activate Verily</strong></h3>
    <div class="signup-form-for-updates">
        <form role="form" action="/subscriber" method="POST">
            <input type="hidden" name="_csrf" value="{{csrf_token}}" />
            <!--
                The id email_get_updates is used to get focus on it on page load.
                 To use it, add #email_get_updates at the end of the URL.
             -->
            <input id="email_get_updates" type="email" class="form-control input-lg" name="email" placeholder="Email" required>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get updates</button>
        </form>
    </div>


    <!--
    <div class="well transparent challenge-info-box">
        <h2>
            #VerilyLive <span id="challenge-countdown"></span>
        </h2>
        <p class="lead stay-large">
             The global crowdsourcing challenge for evidence collection and verification
        </p>
        <p class="lead event-date">
            <i class="fa fa-calendar-o"></i> <span id="eventStart">Saturday 12 July 9am</span> &ndash;<span class="visible-xs-inline"><br><i class="fa fa-calendar-o invisible"></i></span> <span id="eventEnd">Sunday 13 July 4pm</span>
        </p>
        <div class="btn-group">
            <button type="button" class="btn btn-default text-action-button share-button button-switch-timezone" id="button-switch-local"><span id="timezone-offset-hours"></button>
            <button type="button" class="btn btn-default text-action-button share-button button-switch-timezone active" id="button-switch-utc">UTC/GMT</button>
        </div>
        <p class="lead stay-large">
        Can a coordinated collective effort be effective in quickly discerning true answers to key questions?  We designed the Verily Challenge to test this. {% if challengePublished %}Questions will be posted on the platform covering different locations around the world.{% endif %}
        </p>
        <p class="lead stay-large">
        Accurate information is life-saving in extreme situations such as natural disasters. This fun challenge is a pilot to prove feasibility of timely verification. The same platform will soon be used to gather evidence during natural disasters, which will enable more effective disaster response. Your participation will help design the best platform.
        </p>
        {% if challengePublished %}
        <div class="row">
            <div class="col-sm-6 enter-challenge-ctr">
                <a class="btn btn-primary btn-lg btn-block" href="/crisis/1">View Challenge</a>
            </div>
            <div class="col-sm-6 enter-challenge-ctr">
                <a class="btn btn-default btn-lg btn-block" href="/static/snapshots/snapshot-2014-10-01-2030/crisis/1.html">View Challenge snapshot</a>
            </div>

        </div>
        {% else %}
        <div class="enter-challenge-ctr">
            <a class="btn btn-primary btn-lg btn-block" href="/static/snapshots/snapshot-2014-10-01-2030/crisis/1.html">View Challenge</a>
        </div>
        {% endif %}
        <div class="share-buttons">
            <a href="https://twitter.com/intent/tweet?button_hashtag=VerilyLive&text=12%E2%80%9313%20July%3A%20Global%20crowdsourcing%20challenge%20for%20evidence%20collection%20and%20verification" class="twitter-hashtag-button twitter-share-button btn-group share-button" data-size="large" data-url="https://veri.ly/">Tweet #VerilyLive</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            
            <div class="btn-group">
                <a class="btn btn-default btn-large text-action-button share-button facebook-blue" id="facebook-share-button"><i class="fa fa-facebook-square fa-lg facebook-blue"></i> Share</a>
            </div>
            
            <div class="btn-group hidden">
                <a class="btn btn-default add-to-calendar-button text-action-button share-button" href="/static/verily-live.ics"><i class="fa fa-calendar-o"></i> Add to calendar</a>
            </div>
            
            <div class="btn-group">
                <a class="btn btn-default add-to-calendar-button text-action-button share-button" href="https://www.youtube.com/watch?v=7eKkquHiFE4"><i class="fa fa-play-circle"></i> Watch intro</a>
            </div>
            
            <div class="btn-group">
                <a class="btn btn-default add-to-calendar-button text-action-button share-button" href="http://irevolution.net/2013/02/19/verily-crowdsourcing-evidence/"><i class="fa fa-align-left"></i> Read more</a>
            </div>
            
        </div>        
    </div>
-->

</div>

<script src="/static/js/moment.js"></script>
<script type="text/javascript">

// Calculate local time and countdown.
// (c) 2014 Alex Greenland. MIT Licence.

document.addEventListener('DOMContentLoaded', function(e) {
    // To stop infinite reloads!
    // var isChallengePublishedInitially = common.challengePublished();
    //
    // if (!isChallengePublishedInitially) {
    //     $('#challenge-countdown').text(common.challengeCountdown());
    //
    //     setInterval(function() {
    //         $('#challenge-countdown').text(common.challengeCountdown());
    //
    //
    //
    //         // Check if the challenge has been published. If it has now been published, reload,
    //         // so the user doesn't need to reload at the challenge start time.
    //         var isChallengeNowPublished = common.challengePublished();
    //
    //         if (isChallengeNowPublished) {
    //             window.location.reload(true);
    //         }
    //
    //     }, 1000);
    // }
});


// In UTC:


var momentFormat = 'dddd D MMMM ha';


var eventStart = new Date();
eventStart.setUTCFullYear(common.challenge.year);
eventStart.setUTCMonth(common.challenge.month - 1);
eventStart.setUTCDate(common.challenge.startDate);
eventStart.setUTCHours(common.challenge.startHour, common.challenge.minutes, common.challenge.seconds, common.challenge.msecs);

var eventEnd = new Date();
eventEnd.setUTCFullYear(common.challenge.year);
eventEnd.setUTCMonth(common.challenge.month - 1);
eventEnd.setUTCDate(common.challenge.endDate);
eventEnd.setUTCHours(common.challenge.endHour, common.challenge.minutes, common.challenge.seconds, common.challenge.msecs);

var eventStartFormatted = moment(eventStart);
var eventEndFormatted = moment(eventEnd);

// Returns the timezone offset when in daylight savings time (DST).
// Internationally, the northen hemisphere would apply DST in July
// and the southern hemisphere would apply DST in January.
Date.prototype.dstTimezoneOffset = function() {
    var january = new Date(this.getFullYear(), 0, 1);
    var july = new Date(this.getFullYear(), 6, 1);
    return Math.max(january.getTimezoneOffset(), july.getTimezoneOffset());
}

// Returns whether the the current time uses DST.
Date.prototype.isDst = function() {
    return this.getTimezoneOffset() < this.dstTimezoneOffset();
}

var nowLocal = new Date(Date.now());
var timezoneOffsetHours = -(nowLocal.getTimezoneOffset() / 60);
var isDst = nowLocal.isDst();
var timezoneOffsetHoursString = '';

if (isDst) {
    // Currently DST.
    if (timezoneOffsetHours === -7) {
        timezoneOffsetHoursString = 'PDT/';
    } else if (timezoneOffsetHours === -4) {
        timezoneOffsetHoursString = 'EDT/';
        
    } else if (timezoneOffsetHours === 1) {
        timezoneOffsetHoursString = 'BST/';
        
    } else if (timezoneOffsetHours === 2) {
        timezoneOffsetHoursString = 'CEST/';
        
    } else if (timezoneOffsetHours === 3) {
        timezoneOffsetHoursString = 'EEST/';
    }
} else {
    // Not currently DST.
    if (timezoneOffsetHours === -8) {
        timezoneOffsetHoursString = 'PST/';
    } else if (timezoneOffsetHours === -5) {
        timezoneOffsetHoursString = 'EST/';
        
    } else if (timezoneOffsetHours === 1) {
        timezoneOffsetHoursString = 'CET/';
        
    } else if (timezoneOffsetHours === 2) {
        timezoneOffsetHoursString = 'EET/';
    }
}

if (timezoneOffsetHours < 0) {
    timezoneOffsetHoursString += 'UTC' + timezoneOffsetHours;
} else {
    timezoneOffsetHoursString += 'UTC+' + timezoneOffsetHours;
}


$('#timezone-offset-hours').text(timezoneOffsetHoursString);

function updateDisplay(isLocal) {
    $('#eventStart').text(eventStartFormatted.format(momentFormat));
    $('#eventEnd').text(eventEndFormatted.format(momentFormat));
    
    if (isLocal) {
        // Local time
        $('#button-switch-local').addClass('active');
        $('#button-switch-utc').removeClass('active');
    } else {
        // UTC
        $('#button-switch-utc').addClass('active');
        $('#button-switch-local').removeClass('active');
    }
    
    
}

// Go into local mode.
eventStartFormatted.local();
eventEndFormatted.local();

updateDisplay(true);

$('#button-switch-utc').click(function(e) {
    // Go into UTC mode.
    eventStartFormatted.utc();
    eventEndFormatted.utc();
    
    updateDisplay(false);
});

$('#button-switch-local').click(function(e) {
    // Go into local mode.
    eventStartFormatted.local();
    eventEndFormatted.local();
    
    updateDisplay(true);
});


// console.log('eventStartUtc');
// console.log(eventStartUtc);
//
// console.log('eventEndUtc');
// console.log(eventEndUtc);

// var nowLocal = new Date(Date.now());
// var timezoneOffsetMsec = nowLocal.getTimezoneOffset() * 60000;
//
// console.log('nowLocal.getTimezoneOffset(): ' + nowLocal.getTimezoneOffset())
// console.log('timezoneOffsetMsec: ' + timezoneOffsetMsec)
//
// var eventStartLocal = new Date(eventStartUtc.getTime() - timezoneOffsetMsec);
// var eventEndLocal = new Date(eventEndUtc.getTime() - timezoneOffsetMsec);

// console.log('eventStartLocal');
// console.log(eventStartLocal);
//
// console.log('eventEndLocal');
// console.log(eventEndLocal);


var facebookShareButton = document.getElementById('facebook-share-button');
facebookShareButton.addEventListener('click', function(e) {
    FB.ui({
      method: 'share',
      href: 'https://veri.ly/',
    }, function(response){
        
    });
});

</script>

{% endblock %}