{% extends '../layout.html' %}

{% set path = '/about' %}

{% block content %}

    <h3>Terms of Use</h3>
    <p>
        By using this Service you agree to these terms.
    </p>
    <p>
        This Service is part of a research project at the University of Southampton.
        Registration data and your activity on the Service (e.g. which pages you visit)
        will be collected as research data.
    </p>
    <p>
        We will not use your data for any other purpose than academic research,
        and we will not disclose your personal information to anyone else.
        We will not share your email address with anyone.
        If any information will be published, this will be in anonymous form.
    </p>
    <p>
        You understand that through your use of the service you consent to the collection of this information.
        This information will be treated according to the UK Data Protection Act 1998.
        If at any point you will want your personal information to be removed from our database,
        you may contact us by email at <a href="mailto:contact@veri.ly">contact@veri.ly</a>.
    </p>
    <p>
        The Service is intended solely for individuals who are at least 18 years of age or older.
        Any use of the Service by anyone under 18 is unauthorised,
        and in violation of these Terms.
        By using the Service, you represent and warrant that you are 18 or older.
    </p>
    <p>
        The Service does not claim ownership of Content you submit or make available
        for inclusion on the Service. However, with respect to Content you submit or
        make available for inclusion on publicly accessible areas of the Service,
        you grant Verily a worldwide, royalty-free and non-exclusive license to use, distribute,
        reproduce, modify, adapt, publicly perform and publicly display such Content on the Service
        solely for the purpose for which such Content was submitted or made available.
    </p>
    <p>
        This study was examined and approved by the FPSE Ethics Committee at the University of Southampton, reference number 10709. If you have any questions or concerns about the research,
        please contact <a href="http://www.ecs.soton.ac.uk/people/vn">Dr Victor Naroditskiy</a> or the
        <a href="http://www.southampton.ac.uk/corporateservices/rgo/about/contacts.html">University Research Governance office</a>.
    </p>

{% endblock %}