{% extends '../layout.html' %}

{% set path = '/about' %}

{% block content %}

    <h3>Terms and Conditions</h3>
    <p>
        By using this website you agree to these Terms and Conditions.
    </p>
    <p>
        This website is part of a research project at the University of Southampton.
        Registration data and your activity on the website (e.g. which pages you visit)
        will be collected as research data.
    </p>
    <p>
        We will not use your data for any other purpose than academic research,
        and we will not disclose your personal information to anyone else.
        We will not share your email with anyone.
        If any information will be published, this will be in anonymous form.
    </p>
    <p>
        You understand that through your use of the service you consent to the collection of this information.
        This information will be treated according to the UK Data Protection Act 1998.
        If at any point you will want your personal information to be removed from our database,
        you may contact us by e-mail at <a href="mailto:contact@veri.ly">contact@veri.ly</a>.
    </p>
    <p>
        The website is intended solely for individuals who are at least 18 years of age or older.
        Any registration by, use of or access to the website by anyone under 18 is unauthorized,
        and in violation of these Terms.
        By using the Service, you represent and warrant that you are 18 or older.
    </p>
    <p>
        The website does not claim ownership of Content you submit or make available
        for inclusion on the website. However, with respect to Content you submit or
        make available for inclusion on publicly accessible areas of the website,
        you grant the website a worldwide, royalty-free and non-exclusive license to use, distribute,
        reproduce, modify, adapt, publicly perform and publicly display such Content on the website
        solely for the purpose for which such Content was submitted or made available.
    </p>
    <p>
        This study was examined and approved by the FPSE Ethics Committee at the University of Southampton,
        reference number Submission ID: 10709. If you have any questions or concerns about the research,
        please contact <a href="http://www.ecs.soton.ac.uk/people/vn">Dr. Victor Naroditskiy</a> or the
        University Research Governance office,
        <a href="http://www.southampton.ac.uk/corporateservices/rgo/about/contacts.html">
            contact information available here
        </a>.
    </p>

{% endblock %}