<script type="text/javascript">    
    var title = document.getElementById('form-title');    
    var titleCharsLeft = document.getElementById('form-title-chars-left');
    var titleCharsLeftInitialClassName = titleCharsLeft.className;

    // Initially display limit of maxTitleLength chars.
    displayCharsLeft();

    function displayCharsLeft() {
        var charsLeft = common.maxTitleLength - title.value.length;
        var titleCharsLeftContent = titleCharsLeft.getElementsByClassName('value')[0];
        
        titleCharsLeftContent.innerHTML = charsLeft;
        titleCharsLeftContent.title = 'Characters remaining';
        if (charsLeft >= 0) {
            titleCharsLeft.className = titleCharsLeftInitialClassName;
        } else {
            titleCharsLeft.className = titleCharsLeftInitialClassName + ' text-danger';
        }
    }

    title.addEventListener('keyup', function(e) {
        displayCharsLeft();
    });
</script>