
{% macro vote_script() %}

    <script type="text/javascript">
        $(function(){
            {% if user %}
            $("div .btn_downvote").click( function(){
                var button = $(this);
                $.post('/crisis/'+button.attr('data-crisis-id')+'/question/'+button.attr('data-question-id') +'/answer/'+button.attr('data-answer-id')+'/downvote',
                		{_csrf: "{{csrf_token}}" },
                        function(data){
                            var answer = data;
                            update_votes(answer, button);
                        }).fail(function(){
                            var error_message = 'There was an unknown error, please try again later.';
                            if (!common.challengePublished()) {
                                error_message = 'The Verily Challenge has now closed. Thank you for taking part!';
                            }
                            show_alert_message('danger', 5000, "Error", error_message);
                        });
            });
            $("div .btn_upvote").click(function(){
                var button = $(this);
                $.post('/crisis/'+button.attr('data-crisis-id')+'/question/'+button.attr('data-question-id') +'/answer/'+button.attr('data-answer-id')+'/upvote',
                        {_csrf: "{{csrf_token}}" },
                        function(data){
                            var answer = data;
                            update_votes(answer, button);
                        }).fail(function(){
                            var error_message = 'There was an unknown error, please try again later.';
                            if (!common.challengePublished()) {
                                error_message = 'The Verily Challenge has now closed. Thank you for taking part!';
                            }
                            show_alert_message('danger', 5000, "Error", error_message);
                        });
            });

            {% endif %}
        });
        var update_votes = function(answer, element){
            element.parents('.answer-wrapper').attr('data-upvotes', answer.post.upvoteCount);
            element.parents('.answer-wrapper').attr('data-popularity', answer.popularityCoefficient);
            element.parents('.answer-buttons').find('.upvote_count').html(answer.post.upvoteCount);
            element.parents('.answer-buttons').find('.downvote_count').html(answer.post.downvoteCount);
            element.parents('.answer-buttons').find('.btn_downvote').removeClass('active').removeClass('disabled');
            element.parents('.answer-buttons').find('.btn_upvote').removeClass('active').removeClass('disabled');
            element.addClass('active').addClass('disabled');
        }
    </script>
{% endmacro %}
{% macro answers_embeded(answers, crisis_id, adminFlag) %}
    {% import '_generic.html' as generic_macros %}
    {{ vote_script() }}
    {% for answer in answers %}
		{% if (!adminFlag and answer.show) || (adminFlag) %}
			{% if loop.index % 3 == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-sm-4 answer-wrapper" data-date="{{ answer.post.date | date('D, d M Y H:i:s') }}" data-popularity="{{ answer.popularityCoefficient }}" data-upvotes="{{ answer.post.upvoteCount }}">
				<div class="panel panel-default verily-panel question-answer">
					<div class="question-answer-bar">
						{% if answer.type === 'support' %}
							<span class="metric">
								<i class="fa fa-check text-success"></i>
								<span class="">Yes because
							</span>
						{% else %}
							<span class="metric">
								<i class="fa fa-times text-danger"></i>
								<span class="">No because</span>
							</span>

						{% endif %}
					</div>
					<div class="panel-heading">
							{% if answer.post.targetLocality %}
								<div class="">
								   <i class="fa fa-map-marker"></i>
								   <span class="sr-only">Locality:</span>
								   <span id="answer-locality">{{ answer.post.targetLocality }}</span>
								</div>
							{% endif %}

							<h3 class="panel-title">
								<a href="/crisis/{{ crisis.id }}/question/{{ answer.question_id }}/answer/{{ answer.id }}">
							{{ answer.post.title }}
								</a>

								
							{% if adminFlag %}	
								<div class="input-group">
									<input type="checkbox" name="hiddenAnswers" value="{{ answer.id }}" {% if answer.show != true %} checked {% endif %}>
									Check to hide
								</div><!-- /input-group -->
							{% endif %}
							</h3>
							
								
					</div>
					<div class="panel-body">
						<p class="description-text">{{ answer.post.text | cropString(300)  }}</p>
						
						{% if answer.post.targetImage %}
							<div class="row card-image" style="background-image: url({{ answer.post.targetImage }});">
							</div>

						{% elseif answer.post.targetVideoUrl %}
							<div id="video-wrapper-{{ answer.post.id }}" class="video-wrapper video-wrapper-ajax"
								 data-video-url="{{ answer.post.targetVideoUrl }}">
								<div class="video-spinner"><div class="fa fa-spinner fa-spin fa-3x"></div></div>
								<div class="video-container" style="display: none"></div>
								<div class="video-error-message alert alert-warning" style="display: none">
									Video link: <a target="_blank"></a>.
								</div>
							</div>
						{% endif %}
							<div class="posted">
								Posted
								<span class=""><abbr title="{{ answer.post.date.toUTCString() }}">{{ answer.post.date | relativeTime }}</abbr> ago </span>
								by {{ answer.post.user.name }}
                            </div>
						{% if !adminFlag %}
							<!-- vote row -->
							<div class="row" >
								{{ evidence_actions(crisis_id, answer.question_id, answer) }}
							</div>
							<!-- / vote row -->
						{% endif %}

					</div>
				</div>
			</div>

			{% if loop.index % 3 == 0 %}
				</div>
			{% endif %}
		{% endif %}
    {% endfor %}
    {{ generic_macros.video_html_script() }}
{% endmacro %}
{% macro answers_embeded_reputation(answers, crisis_id, adminFlag) %}
    {% import '_generic.html' as generic_macros %}
    {{ vote_script() }}
    {% for answer in answers %}
        {% if (!adminFlag and answer.show) || (adminFlag) %}
        {% if loop.index % 3 == 1 %}
            <div class="row">
        {% endif %}
    <div class="col-sm-4 answer-wrapper" data-date="{{ answer.post.date | date('D, d M Y H:i:s') }}" data-popularity="{{ answer.popularityCoefficient }}" data-upvotes="{{ answer.post.upvoteCount }}">
        <div class="panel panel-default verily-panel question-answer">
        <div class="question-answer-bar">
            {% if answer.type === 'support' %}
            <span class="metric">
								<i class="fa fa-check text-success"></i>
								<span class="">Yes because
							</span>
                {% else %}
                    <span class="metric">
								<i class="fa fa-times text-danger"></i>
								<span class="">No because</span>
							</span>

                {% endif %}
        </div>
        <div class="panel-heading">
            {% if answer.post.targetLocality %}
                <div class="">
                    <i class="fa fa-map-marker"></i>
                    <span class="sr-only">Locality:</span>
                    <span id="answer-locality">{{ answer.post.targetLocality }}</span>
                </div>
            {% endif %}

            <h3 class="panel-title">
                <a href="/crisis/{{ crisis.id }}/question/{{ answer.question_id }}/answer/{{ answer.id }}">
                    {{ answer.post.title }}
                </a>


                {% if adminFlag %}
                    <div class="input-group">
                        <input type="checkbox" name="hiddenAnswers" value="{{ answer.id }}" {% if answer.show != true %} checked {% endif %}>
                        Check to hide
                    </div><!-- /input-group -->
                {% endif %}
            </h3>


        </div>
        <div class="panel-body">
        <p class="description-text">{{ answer.post.text | cropString(300)  }}</p>

        {% if answer.post.targetImage %}
            <div class="row card-image" style="background-image: url({{ answer.post.targetImage }});">
            </div>

        {% elseif answer.post.targetVideoUrl %}
            <div id="video-wrapper-{{ answer.post.id }}" class="video-wrapper video-wrapper-ajax"
                 data-video-url="{{ answer.post.targetVideoUrl }}">
                <div class="video-spinner"><div class="fa fa-spinner fa-spin fa-3x"></div></div>
                <div class="video-container" style="display: none"></div>
                <div class="video-error-message alert alert-warning" style="display: none">
                    Video link: <a target="_blank"></a>.
                </div>
            </div>
        {% endif %}
        <div class="posted">
            Posted
            <span class=""><abbr title="{{ answer.post.date.toUTCString() }}">{{ answer.post.date | relativeTime }}</abbr> ago </span>
            by <a href="/user/{{ answer.post.user.id }}/details">{{ answer.post.user.name }}</a>
            <br/>User Reputation: {{ user_reputation_label(answer.post.user.getReputationPoints()) }}
        </div>
        {% if !adminFlag %}
        <!-- vote row -->
        <div class="row" >
            <div class="answer-buttons">

                <!-- button-vote-up -->
                {% set votes_aggregate = (answer.post.upvoteCount - answer.post.downvoteCount) %}
                <!--<div class="action-button-ctr btn-group">
                    {% set answer_upvoted = answer | isUpvotedBy(user) %}
                    {% set answer_downvoted = answer | isDownvotedBy(user) %}
                    <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn-lg btn btn-default btn-large btn_upvote {% if !properUser %} user-required-action{% endif %} {% if answer_upvoted %}disabled{% endif %}"  title="Upvote"><i class="fa fa-arrow-up"></i></button>
                    <a href="#" class="btn btn-default action-button-count disabled upvote_count btn-lg {% if votes_aggregate < 0 %}danger{% endif %}">{{ votes_aggregate }}</a>
                    <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn-lg btn btn-default btn-large  btn_downvote {% if !properUser %} user-required-action{% endif %} {% if answer_downvoted %}disabled{% endif %}" title="Downvote"><i class="fa fa-arrow-down"></i></button>
                </div> -->
                <div class="mini action-button-ctr btn-group">
                    {% set answer_upvoted = answer | isUpvotedBy(user) %}
                    <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn btn-default btn-large mini-action-button btn_upvote {% if !properUser %} user-required-action{% endif %} {% if answer_upvoted %}disabled{% endif %}"  title="Upvote"><i class="fa fa-arrow-up"></i></button>
                    <a href="#" class="btn btn-default action-button-count disabled upvote_count">{{ answer.post.upvoteCount }}</a>
                </div>
                <!-- / button-vote-up -->

                <!-- button-vote-down -->
                <div class="mini action-button-ctr btn-group">
                    {% set answer_downvoted = answer | isDownvotedBy(user) %}
                    <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn btn-default btn-large mini-action-button btn_downvote {% if !properUser %} user-required-action{% endif %} {% if answer_downvoted %}disabled{% endif %}" title="Downvote"><i class="fa fa-arrow-down"></i></button>
                    <a href="#" class="btn btn-default action-button-count disabled downvote_count answer_number_{{ answer.id }}">{{ answer.post.downvoteCount }}</a>
                </div>
                <!-- button-comment -->
                <div class="mini action-button-ctr btn-group">
                    <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" data-fragment="comment" class="btn btn-default btn-large mini-action-button btn_comment {% if !properUser %} user-required-action{% endif %}" title="Comment"><i class="fa fa-comment"></i></button>
                    <a href="#" class="btn btn-default action-button-count disabled">{{ answer.comments | length }}</a>
                </div>
                <!-- / button-comment -->
            </div>
        </div>
        <!-- / vote row -->
        {% endif %}

            </div>
            </div>
            </div>

            {% if loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ generic_macros.video_html_script() }}
{% endmacro %}
{% macro evidence_actions(crisis_id, question_id, answer) %}
<div class="answer-buttons">

    <!-- button-vote-up -->
    {% set votes_aggregate = (answer.post.upvoteCount - answer.post.downvoteCount) %}
    <!--   <div class="action-button-ctr btn-group">
        {% set answer_upvoted = answer | isUpvotedBy(user) %}
        {% set answer_downvoted = answer | isDownvotedBy(user) %}
        <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn-lg btn btn-default btn-large btn_upvote {% if !properUser %} user-required-action{% endif %} {% if answer_upvoted %}disabled{% endif %}"  title="Upvote"><i class="fa fa-arrow-up"></i></button>
        <a href="#" class="btn btn-default action-button-count disabled upvote_count btn-lg">{{ votes_aggregate }}</a>
        <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn-lg btn btn-default btn-large  btn_downvote {% if !properUser %} user-required-action{% endif %} {% if answer_downvoted %}disabled{% endif %}" title="Downvote"><i class="fa fa-arrow-down"></i></button>
    </div> -->
     <div class="mini action-button-ctr btn-group">
        {% set answer_upvoted = answer | isUpvotedBy(user) %}
        <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn btn-default btn-large mini-action-button btn_upvote {% if !properUser %} user-required-action{% endif %} {% if answer_upvoted %}disabled{% endif %}"  title="Upvote"><i class="fa fa-arrow-up"></i></button>
        <a href="#" class="btn btn-default action-button-count disabled upvote_count">{{ answer.post.upvoteCount }}</a>
    </div>
    <!-- / button-vote-up -->

    <!-- button-vote-down -->
    <div class="mini action-button-ctr btn-group">
        {% set answer_downvoted = answer | isDownvotedBy(user) %}
        <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" class="btn btn-default btn-large mini-action-button btn_downvote {% if !properUser %} user-required-action{% endif %} {% if answer_downvoted %}disabled{% endif %}" title="Downvote"><i class="fa fa-arrow-down"></i></button>
        <a href="#" class="btn btn-default action-button-count disabled downvote_count answer_number_{{ answer.id }}">{{ answer.post.downvoteCount }}</a>
    </div>
    <!-- / button-vote-down -->

    <!-- button-comment -->
    <div class="mini action-button-ctr btn-group">
        <button data-crisis-id="{{ crisis_id }}" data-question-id="{{ question_id }}" data-answer-id="{{ answer.id }}" data-fragment="comment" class="btn btn-default btn-large mini-action-button btn_comment {% if !properUser %} user-required-action{% endif %}" title="Comment"><i class="fa fa-comment"></i></button>
        <a href="#" class="btn btn-default action-button-count disabled">{{ answer.comments | length }}</a>
    </div>
    <!-- / button-comment -->
</div>
{% endmacro %}
{% macro user_reputation_label(reputation) %}
    <span class=" label {% if reputation > 0 %}label-success{% elseif reputation < 0 %}label-warning{% else %}label-default{% endif %}">{{ reputation }} </span>
{% endmacro %}
