
{% macro comments_embeded(comments) %}
    {% for comment in comments %}
        {{ make_comment(comment) }}
    {% endfor %}
{% endmacro %}

{% macro make_comment(comment) %}
    <div>
        <div class="panel panel-default question-answer">
            <div class="panel-heading">
                <i class="fa fa-bullhorn"></i>
                {{ comment.comment.user.name }} 
                <span class="text-muted pull-right">{{ comment.comment.date|relativeTime }}</span>
            </div>


            <div class="panel-body" style="">{{ comment.comment.text }}</div>
        </div>
    </div>
{% endmacro %}